---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Logo from "../../../assets/logo-full.png";
import Logo from "../../../assets/logo-full.png";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const templates = [
  {
    "title": "Project Timeline",
    "description": "Strategize and visualize project timelines.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/project-timeline"
  },
  {
    "title": "Task Tracker",
    "description": "Assign, manage, and track tasks.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/task-tracker"
  },
  {
    "title": "Kanban Board",
    "description": "Organize work efficiently with visual boards.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/kanban-board"
  },
  {
    "title": "Project Checklist",
    "description": "Plan and manage project checklists.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/project-checklist"
  },
  {
    "title": "Team Calendar",
    "description": "Coordinate schedules for effective planning.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/team-calendar"
  },
  {
    "title": "Task Prioritization",
    "description": "Prioritize tasks and resources optimally.",
    "icon": "fluent:calendar-clock-24-regular",
    "link": "/templates/task-prioritization"
  }
];


const data = [
  {
    "mainHeading": "Planning Made Easy",
    "subtext": "Streamline task planning and organization.",
    "headingButtons": [
      {
        "text": "Start Planning",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ],
    "sectionHeading": "Master Task Organization",
    "offering": {
      "title": "Effortless Organization, Exceptional Results",
      "subtext": "Perfect the art of task organization to ensure that every project component is executed with precision."
    },
    "valueBlocks": [
      {
        "heading": "Task-Centric OS",
        "title": "Systemize Your Workflow",
        "description": "Utilize our Operating System to bring a structured approach to your project tasks, boosting productivity and ensuring no detail is overlooked."
      },
      {
        "heading": "Collaborative Task Management",
        "title": "Collaborate and Deliver",
        "description": "Encourage teamwork with a shared space for task management, where everyone knows their responsibilities and deadlines."
      },
      {
        "heading": "Insightful Task Analytics",
        "title": "Track and Improve",
        "description": "Leverage analytical insights from task progression to enhance future planning and drive continuous improvement in your processes."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Organized Task Interface",
        "title": "Navigate Tasks with Ease",
        "description": "Manage your project tasks with an intuitive interface that organizes each component for easy access and tracking.",
        "bulletPoints": [
          "Intuitive task categorization for streamlined operations",
          "Visual progress tracking to keep everyone aligned",
          "Automated alerts to keep tasks on track"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Task Communication Platform",
        "title": "Optimize Team Interaction",
        "description": "Facilitate clear and direct communication paths within your team, centered around task updates and completions.",
        "bulletPoints": [
          "Instantly update teams on task changes",
          "Easily share task-related files and instructions",
          "Foster a collaborative environment with task-focused discussions"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Analytical Task Oversight",
        "title": "Informed Task Management",
        "description": "Access comprehensive task analytics to gain insights on efficiency and team performance, informing your strategy and task distribution.",
        "bulletPoints": [
          "Evaluate task completion rates to assess team efficiency",
          "Analyze task duration and outcomes for process optimization",
          "Utilize predictive analytics for better task forecasting"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      }
    ],
    "featureHeading": "Empress for Planning",
    "featureTitle": "Elevate Your Project Success",
    "featureAssurance": "Trust in our advanced task management system to empower your projects with unparalleled organization and clarity."
  }
];


const features = [
  {
    "title": "Task Prioritization",
    "description": "Easily prioritize tasks based on deadlines, team availability, and project urgency to ensure a smooth workflow.",
    "icon": "fluent:arrow-sort-24-regular",
  },
  {
    "title": "Integrated Time Tracking",
    "description": "Track the time spent on individual tasks with integrated timers to help with productivity analysis and accurate billing.",
    "icon": "fluent:timer-24-regular",
  },
  {
    "title": "Customizable Task Boards",
    "description": "Create custom boards for different projects or teams, with the ability to tailor features and workflows to suit specific task requirements.",
    "icon": "fluent:board-24-regular",
  },
  {
    "title": "Task Delegation System",
    "description": "Easily delegate tasks to team members with clear instructions and defined outcomes, improving accountability and efficiency.",
    "icon": "fluent:people-team-24-regular",
  },
  {
    "title": "Recurring Task Automation",
    "description": "Set up recurring tasks that automatically reset upon completion, ensuring routine critical tasks are never overlooked.",
    "icon": "fluent:bot-24-regular",
  },
  {
    "title": "Task Dependency Mapping",
    "description": "Visualize and manage task dependencies to ensure projects proceed in logical progression and resources are allocated effectively.",
    "icon": "fluent:branch-fork-link-24-regular",
  }
];

const faq = [
  {
    "question": "How can I get started with organizing my project tasks?",
    "answer": "Getting started is simple. Click on the 'Get Started' button on our website to sign up. You’ll be guided through the setup process, where you can immediately begin organizing your tasks using our Task-Centric OS and Collaborative Task Management features."
  },
  {
    "question": "What makes your Task Management system different from others?",
    "answer": "Our system is built with a focus on ease of use, collaborative features, and insightful analytics. The intuitive design of our Organized Task Interface and the depth of our Analytical Task Oversight set us apart, providing not just tools for management but also for continuous improvement and strategic planning."
  },
  {
    "question": "Can I prioritize tasks within the system?",
    "answer": "Yes, with our Task Prioritization feature, you can arrange your tasks based on various criteria such as deadlines, importance, or resources available. This helps keep your workflow efficient and your projects moving forward effectively."
  },
  {
    "question": "Is there a way to track the time spent on tasks?",
    "answer": "Absolutely. Our Integrated Time Tracking feature allows you and your team to record the time spent on each task. This is ideal for productivity analysis, ensuring accountability, and if needed, accurate client billing."
  },
  {
    "question": "How does the Task Delegation System work?",
    "answer": "Our Task Delegation System lets you assign tasks to team members directly within the platform. You can add specific instructions, set deadlines, and track progress, making it easy to manage team workload and enhance accountability."
  },
  {
    "question": "Does your platform support recurring tasks?",
    "answer": "Yes, it does. With Recurring Task Automation, you can create tasks that will automatically reset after completion, which is perfect for routine activities that need to occur on a regular schedule, ensuring they’re never missed."
  },
  {
    "question": "How does Task Dependency Mapping help in project management?",
    "answer": "Task Dependency Mapping allows you to see and manage the relationships between different tasks. By understanding how tasks are interconnected, you can plan more effectively, avoid bottlenecks, and ensure resources are allocated where they’re needed most."
  },
  {
    "question": "Can I customize the task boards to fit my project needs?",
    "answer": "Yes, our Customizable Task Boards can be tailored to fit the unique requirements of your projects or teams. You can create and customize boards, add columns for different task stages, and set up individual workflows to match your project management style."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="Quote" footerMargin={false}>

  <Container>
    <div>
      <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
        <Badge color="purple">{data[0].featureHeading}</Badge>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
          {data[0].mainHeading}
        </h2>
        <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
          {data[0].subtext}
        </p>
      </div>
      <div class="mt-6 flex justify-center gap-3">
        <Link href={data[0].headingButtons[0].link} class="flex gap-1 items-center justify-center bg-brand" rel="noopener">
          {data[0].headingButtons[0].text}
        </Link>
  
        <Link size="lg" style="outline" rel="noopener" href={data[0].headingButtons[1].link} class="flex gap-1 items-center justify-center border-brand text-brand">
          {data[0].headingButtons[1].text}
        </Link>
      </div>
    </div>
    <div class="w-full overflow-hidden py-3 mt-20">
      <Picture src={Logo} alt="Astronaut in the air" formats={["avif", "webp"]} sizes="100vw" width="100vw" loading="eager" fetchpriority="high" />
    </div>
  </Container>
  
  
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>


    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-10">
          {data[0].featureBlocks[0].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                  <span>{button.text}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              );
            } else {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                  {button.text}
                </a>
              );
            }
          })}
        </div>  
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

