---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Logo from "../../../assets/logo-full.png";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const { nomargin } = Astro.props;

const templates = [
  {
    "title": "Strategic Planning Framework",
    "description": "Define Strategic Goals",
    "icon": "fluent:target-24-regular",
    "link": "/templates/strategic-planning-framework"
  },
  {
    "title": "SWOT Analysis",
    "description": "Analyze Strengths & Opportunities",
    "icon": "fluent:target-24-regular",
    "link": "/templates/swot-analysis"
  },
  {
    "title": "Project Roadmap",
    "description": "Visualize Project Milestones",
    "icon": "fluent:target-24-regular",
    "link": "/templates/project-roadmap"
  },
  {
    "title": "Resource Allocation Planner",
    "description": "Optimize Resource Allocation",
    "icon": "fluent:target-24-regular",
    "link": "/templates/resource-allocation-planner"
  },
  {
    "title": "Risk Management Matrix",
    "description": "Identify and Mitigate Risks",
    "icon": "fluent:target-24-regular",
    "link": "/templates/risk-management-matrix"
  },
  {
    "title": "Project Portfolio Dashboard",
    "description": "Manage Multiple Projects Strategically",
    "icon": "fluent:briefcase-24-regular",
    "link": "/templates/project-portfolio-dashboard"
  }
];



const data = [
{
    "mainHeading": "Strategic Project Planning",
    "subtext": "Manage and support business strategies.",
    "headingButtons": [
          {
            "text": "Strategize Now",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ],
    "sectionHeading": "Blueprint for Business Growth",
    "offering": {
      "title": "Strategize Your Path to Success",
      "subtext": "Use intelligent planning tools to craft a roadmap for business expansion and superior customer service delivery."
    },
    "valueBlocks": [
  {
    "heading": "Strategic Alignment",
    "title": "Align Your Projects with Business Goals",
    "description": "Our planning tools are designed to ensure that every project initiative is directly contributing to your overarching business goals."
  },
  {
    "heading": "Resource Optimization",
    "title": "Optimize Resources for Maximum Efficiency",
    "description": "Strategically allocate your resources to projects for enhanced productivity and cost efficiency, ensuring the best use of your assets."
  },
  {
    "heading": "Risk Management",
    "title": "Navigate Project Risks with Confidence",
    "description": "Identify potential risks early in the planning process and develop robust strategies to mitigate them, safeguarding your project outcomes."
  }
],

    "featureBlocks": [
    {
  "heading": "Roadmapping Tools",
  "title": "Chart Your Business Trajectory",
  "description": "Utilize dynamic roadmapping tools to set clear, actionable objectives, ensuring that every project milestone advances your business strategy.",
  "bulletPoints": [
"Create visual project timelines",
"Connect strategic goals with project deliverables",
"Track progress towards key business objectives"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},

{
  "heading": "Workflow Optimization",
  "title": "Streamline Project Execution",
  "description": "Implement efficient workflows that streamline project execution, ensuring that each phase transitions smoothly and on schedule.",
  "bulletPoints": [
  "Automate task assignments based on project phase",
"Ensure timely completion of project milestones",
"Minimize downtime and bottlenecks in project workflows"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
{
  "heading": "Strategic Analytics",
  "title": "Measure Performance with Strategic Insights",
  "description": "Gain strategic insights into project performance, using analytics to make informed decisions and adapt your planning to meet market changes.",
  "bulletPoints": [
  "Analyze project KPIs against strategic objectives",
"Adjust project parameters in real-time for optimal results",
"Leverage analytics for predictive and informed planning"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},  
    ],
    "featureHeading": "Empress for Strategy",
    "featureTitle": "Empower Your Business with Targeted Planning",
    "featureAssurance": "Our strategic planning tools are engineered to synchronize with your growth ambitions, driving projects that deliver results."
  }
];

const features = [
  {
    "title": "Demand Forecasting",
    "description": "Anticipate market changes with advanced demand forecasting tools, enabling proactive adjustments to project plans and resource allocation.",
    "icon": "fluent:chart-multiple-24-regular",
  },
  {
    "title": "Collaborative Workspaces",
    "description": "Facilitate teamwork and cross-functional collaboration with digital workspaces that connect team members, regardless of location.",
    "icon": "fluent:people-team-24-regular",
  },
  {
    "title": "Compliance Tracking",
    "description": "Ensure all projects adhere to industry standards and regulations with integrated compliance tracking features.",
    "icon": "fluent:shield-24-regular",
  },
  {
    "title": "Budget Management",
    "description": "Control project costs with sophisticated budget management tools, enabling real-time tracking and financial oversight.",
    "icon": "fluent:money-calculator-24-regular",
  },
  {
    "title": "Scenario Planning",
    "description": "Prepare for multiple outcomes with scenario planning capabilities, helping you to navigate uncertainties and make informed decisions.",
    "icon": "fluent:weather-sunny-24-regular",
  },
  {
    "title": "Real-Time Reporting",
    "description": "Access real-time reports on project status, resource usage, and performance metrics to keep stakeholders informed and engaged.",
    "icon": "fluent:clipboard-data-bar-24-regular",
  }
];

const faq = [
  {
    question: "How can strategic project planning benefit my business?",
    answer: "Strategic project planning aligns each of your projects with your business's core goals, enabling you to prioritize resources effectively, navigate risks, and capitalize on market opportunities. This results in a more focused approach to business growth and customer service delivery."
  },
  {
    question: "What are the key components of your strategic planning tools?",
    answer: "Our tools encompass strategic alignment, resource optimization, and risk management features. Additionally, they include roadmapping, workflow optimization, and strategic analytics, all designed to support comprehensive planning and execution of your business strategies."
  },
  {
    question: "How does demand forecasting improve project outcomes?",
    answer: "Demand forecasting allows you to anticipate market trends and customer needs, enabling you to adapt your project plans proactively. This helps in optimizing resource allocation, adjusting timelines, and ensuring your projects are successful in meeting market demands."
  },
  {
    question: "Can I track the compliance of my projects with industry regulations?",
    answer: "Yes, our compliance tracking feature integrates with your projects to continuously monitor adherence to relevant standards and regulations, ensuring your project execution is compliant and up to date with industry norms."
  },
  {
    question: "How do collaborative workspaces enhance project management?",
    answer: "Collaborative workspaces bring your team together in a virtual environment that fosters communication and cooperation, regardless of physical location. This enhances the efficiency of project planning and execution, ensuring that all team members are aligned and can contribute effectively."
  },
  {
    question: "Is there a way to manage project budgets and finances within the platform?",
    answer: "Absolutely, our budget management tools provide you with sophisticated mechanisms to track and control project costs in real-time. This ensures financial transparency and helps prevent budget overruns."
  },
  {
    question: "What kind of reporting can I expect for my strategic planning?",
    answer: "Our platform offers real-time reporting, giving you an immediate view of project status, resource usage, and performance against KPIs. This enables dynamic decision-making and keeps all stakeholders informed on project progress."
  },
  {
    question: "How does scenario planning support risk management?",
    answer: "Scenario planning prepares you for various potential future events, allowing you to create flexible project plans that can adapt to changes and uncertainties. This foresight is essential in risk mitigation and ensures that your projects are resilient to unexpected challenges."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="Quote" footerMargin={false}>

  <Container>
    <div>
      <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
        <Badge color="purple">{data[0].featureHeading}</Badge>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
          {data[0].mainHeading}
        </h2>
        <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
          {data[0].subtext}
        </p>
      </div>
      <div class="mt-6 flex justify-center gap-3">
        <Link href={data[0].headingButtons[0].link} class="flex gap-1 items-center justify-center bg-brand" rel="noopener">
          {data[0].headingButtons[0].text}
        </Link>
  
        <Link size="lg" style="outline" rel="noopener" href={data[0].headingButtons[1].link} class="flex gap-1 items-center justify-center border-brand text-brand">
          {data[0].headingButtons[1].text}
        </Link>
      </div>
    </div>
    <div class="w-full overflow-hidden py-3 mt-20">
      <Picture src={Logo} alt="Astronaut in the air" formats={["avif", "webp"]} sizes="100vw" width="100vw" loading="eager" fetchpriority="high" />
    </div>
  </Container>
  
  
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>


    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-10">
          {data[0].featureBlocks[0].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                  <span>{button.text}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              );
            } else {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                  {button.text}
                </a>
              );
            }
          })}
        </div>  
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

