---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
  {
    "mainHeading": "Elevate Your Social Media",
    "subtext": "Leverage a sophisticated suite of tools designed for optimizing audience engagement and boosting your operational presence on social platforms.",
    "headingButtons": [
      {
        "text": "Engage with Social",
        "link": "/contact-social"
      },
      {
        "text": "Explore Social Pricing",
        "link": "/pricing-social"
      }
    ],
    "sectionHeading": "Empress for Social Media",
    "offering": {
      "title": "Expand Your Brand’s Social Reach",
      "subtext": "Utilize social media's unique landscape to enhance your brand's visibility and engage with your community more effectively."
    },
    "valueBlocks": [
      {
        "heading": "Empress Social OS",
        "title": "Streamline Social Operations",
        "description": "Centralize your social media management, from customer interactions to campaign automation, to drive efficiency and coherence across all channels."
      },
      {
        "heading": "Empress Social Chat",
        "title": "Engage Customers Conversationally",
        "description": "Cultivate meaningful connections by providing immediate responses and engaging customers in dialogue across social platforms."
      },
      {
        "heading": "Empress Social Insights",
        "title": "Gain Deeper Audience Insights",
        "description": "Convert social engagement data into actionable insights to tailor content, optimize campaign strategies, and understand audience preferences."
      }
    ],
    "featureBlocks": [
      {
        "heading": "OS for Social Media",
        "title": "Elevate Your Social Media Performance",
        "description": "Coordinate your social media content, enhance engagement, and automate workflows to create an exceptional social presence.",
        "bulletPoints": [
          "Aggregate social content for cohesive messaging",
          "Integrate marketing efforts across social platforms",
          "Automate engagements for consistent community interaction"
        ],
        "buttons": [
          {
            "text": "Engage with OS",
            "link": "/contact-os-social"
          },
          {
            "text": "OS Social Pricing",
            "link": "/pricing-os-social"
          }
        ]
      },
      {
        "heading": "Chat for Social Media",
        "title": "Enhance Interaction with Your Social Audiences",
        "description": "Provide live interaction capabilities to address queries, guide users, and foster a responsive social environment.",
        "bulletPoints": [
          "Elevate customer service with instant responses",
          "Guide users to preferred actions and content",
          "Collect real-time feedback to refine your social strategy"
        ],
        "buttons": [
          {
            "text": "Activate Social Chat",
            "link": "/contact-chat-social"
          },
          {
            "text": "Chat Social Pricing",
            "link": "/pricing-chat-social"
          }
        ]
      },
      {
        "heading": "Insights for Social Media",
        "title": "Optimize Your Social Strategy with Data",
        "description": "Understand the nuances of social interactions, track engagement metrics, and harness insights to fine-tune your approach and content for social success.",
        "bulletPoints": [
          "Analyze social media engagement to inform content creation",
          "Identify trending topics and hashtags for targeted campaigns",
          "Predict audience growth and engagement patterns"
        ],
        "buttons": [
          {
            "text": "Discover Social Insights",
            "link": "/contact-insights-social"
          },
          {
            "text": "Insights Social Pricing",
            "link": "/pricing-insights-social"
          }
        ]
      }
    ],
    "featureHeading": "Social-Centric Feature Set",
    "featureTitle": "Empower Your Social Media Strategy",
    "featureAssurance": "With our suite of social media tools, propel your brand to new heights and ensure you stay connected with your audience in the ever-evolving digital landscape."
  }
];


const features = [
  {
    "title": "Content Calendar Coordination",
    "description": "Plan and schedule your social media content seamlessly with our Content Calendar feature, ensuring consistent and timely engagement with your audience.",
    "icon": "fluent:calendar-ltr-24-regular",
  },
  {
    "title": "Targeted Social Campaigns",
    "description": "Create and deploy targeted social media campaigns designed to engage with specific segments of your audience and achieve precise marketing objectives.",
    "icon": "fluent:target-24-regular",
  },
  {
    "title": "Influencer Collaboration Manager",
    "description": "Connect with influencers, manage collaborative campaigns, and track the performance of partnered content to amplify your social reach.",
    "icon": "fluent:people-community-24-regular",
  },
  {
    "title": "Social Media ROI Analytics",
    "description": "Measure the return on investment of your social campaigns with advanced analytics that track conversions, sales, and engagement metrics.",
    "icon": "fluent:money-calculator-24-regular",
  },
  {
    "title": "Automated Social Engagement",
    "description": "Automate replies, likes, and other engagement actions to maintain presence and responsiveness on your social channels without manual effort.",
    "icon": "fluent:send-copy-24-regular",
  },
  {
    "title": "Custom Audience Builder",
    "description": "Utilize customer data and behavior to build custom audiences for highly targeted advertising across your social media platforms.",
    "icon": "fluent:people-search-24-regular",
  }
];

const faq = [
  {
    "question": "How can Empress Social OS streamline my social media management?",
    "answer": "Empress Social OS centralizes all your social media activities into a single, intuitive dashboard. This allows for efficient management of content, customer interactions, and campaign automation, providing a cohesive presence across various social platforms."
  },
  {
    "question": "What makes Empress Social Chat different from regular social media chatbots?",
    "answer": "Empress Social Chat is designed to provide a more genuine conversational experience. By engaging customers in real-time dialogue, it fosters deeper connections and offers instant assistance, enhancing the overall user experience on social media."
  },
  {
    "question": "How will Empress Social Insights help me understand my audience better?",
    "answer": "Empress Social Insights turns engagement data into a clear narrative, revealing what content resonates with your audience. This enables you to tailor your strategies to audience preferences and boost engagement."
  },
  {
    "question": "Can I measure the effectiveness of my social media campaigns with your tools?",
    "answer": "Absolutely. Our Social Media ROI Analytics feature allows you to track key performance indicators like conversions and engagement, so you can understand the effectiveness of your campaigns and adjust for maximum impact."
  },
  {
    "question": "How does the Automated Social Engagement feature work?",
    "answer": "Our Automated Social Engagement feature allows you to set up automated responses, likes, and other interaction types to keep your social media profiles active and responsive, even when you're not online."
  },
  {
    "question": "Is it possible to coordinate posts across different social media platforms?",
    "answer": "Yes, with our Content Calendar Coordination, you can schedule and publish content across multiple platforms from one place, ensuring your messaging is consistent and on schedule."
  },
  {
    "question": "What support can I expect after integrating Empress tools into my social media strategy?",
    "answer": "We provide comprehensive support from setup to continuous use. Our team is always ready to help you optimize your social media strategy, ensuring that you get the most out of our suite of tools."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={ECommerce}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={NetworkServerManagement}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={AutomatedMarketing}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={DashboardDevelopment}
            alt="Feature image"
            width="909"
            height="823"
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

