---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import Logo from "../../../assets/logo-full.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const templates = [
  {
    "title": "Contact Management",
    "description": "Streamline Contact Handling",
    "icon": "fluent:person-24-regular",
    "link": "/templates/contact-management"
  },
  {
    "title": "Lead Tracking",
    "description": "Monitor Lead Progression",
    "icon": "fluent:person-24-regular",
    "link": "/templates/lead-tracking"
  },
  {
    "title": "Sales Performance",
    "description": "Analyze Sales Team Performance",
    "icon": "fluent:person-24-regular",
    "link": "/templates/sales-performance"
  },
  {
    "title": "Customer Inquiry",
    "description": "Centralized Customer Inquiries",
    "icon": "fluent:person-24-regular",
    "link": "/templates/customer-inquiry"
  },
  {
    "title": "Opportunity Pipeline",
    "description": "Visualize Sales Opportunities",
    "icon": "fluent:person-24-regular",
    "link": "/templates/opportunity-pipeline"
  },
  {
    "title": "CRM Integration Solutions",
    "description": "Seamlessly Integrate CRM",
    "icon": "fluent:person-24-regular",
    "link": "/templates/crm-integration-solutions"
  }
];



const data = [
  {
    "mainHeading": "CRM, Redefined",
    "subtext": "Efficient customer relationship management.",
    "headingButtons": [
      {
        "text": "Start Now",
        "link": "/conact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ],
    "sectionHeading": "Transform Relationships into Revenue",
    "offering": {
      "title": "Enhance Customer Interactions",
      "subtext": "Empower your sales with a CRM that understands and adapts to customer needs."
    },
    "valueBlocks": [
      {
        "heading": "Intelligent Forecasting",
        "title": "Predict Sales Trends",
        "description": "Harness the power of AI to forecast sales trends and set realistic targets."
      },
      {
        "heading": "Unified Customer Data",
        "title": "Centralize Client Information",
        "description": "Keep all customer interactions and data in one place for streamlined processes."
      },
      {
        "heading": "Performance Metrics",
        "title": "Track Team Performance",
        "description": "Monitor sales activities and track performance against goals in real-time."
      }
    ],

    "featureBlocks": [
      {
        "heading": "CRM Platform",
        "title": "Optimize Your Sales Cycle",
        "description": "From lead tracking to closing deals, optimize every stage of your sales cycle for maximum efficiency.",
        "bulletPoints": [
          "Automate lead tracking and nurturing",
          "Close deals with guided selling",
          "Visualize sales pipelines for instant clarity"
        ],
        "buttons": [
          {
            "text": "Learn More",
            "link": "/crm"
          },
          {
            "text": "See Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Collaboration Tools",
        "title": "Collaborate and Close Faster",
        "description": "Utilize real-time communication tools to streamline collaboration and speed up sales cycles.",
        "bulletPoints": [
          "Real-time updates for immediate action",
          "Integrated communication for seamless teamwork",
          "Shared calendars and reminders to keep everyone aligned"
        ],
        "buttons": [
          {
            "text": "Start Collaborating",
            "link": "/collaboration"
          },
          {
            "text": "View Features",
            "link": "/features"
          }
        ]
      },
      {
        "heading": "Analytics and Reporting",
        "title": "Make Informed Decisions",
        "description": "Leverage detailed analytics and customizable reports to make data-driven business decisions.",
        "bulletPoints": [
          "Customizable dashboards to monitor KPIs",
          "In-depth reports for strategic planning",
          "Real-time analytics to stay ahead of the market"
        ],
        "buttons": [
          {
            "text": "Discover Analytics",
            "link": "/analytics"
          },
          {
            "text": "Get Insights",
            "link": "/insights"
          }
        ]
      }
    ],
    "featureHeading": "Empress CRM",
    "featureTitle": "Your Success is Our Commitment",
    "featureAssurance": "We continuously enhance our CRM to ensure your sales success journey is smooth and efficient."
  }
];

const features = [
  {
    "title": "Automation Excellence",
    "description": "Automate routine tasks, focus on closing deals, and provide personalized experiences at scale.",
    "icon": "fluent:bot-24-regular",
  },
  {
    "title": "Real-Time Interaction",
    "description": "Engage with customers effectively in real time, across all touchpoints for enriched customer relationships.",
    "icon": "fluent:chat-24-regular",
  },
  {
    "title": "Seamless Integration",
    "description": "Integrate seamlessly with your existing tools to create a cohesive ecosystem that drives sales.",
    "icon": "fluent:plug-connected-24-regular",
  },
  {
    "title": "Strategic Insights",
    "description": "Gain strategic insights from comprehensive data analysis to outperform sales targets and forecasts.",
    "icon": "fluent:data-trending-24-regular",
  },
  {
    "title": "Consistent Experience",
    "description": "Ensure a consistent and satisfying customer journey with every interaction to foster loyalty.",
    "icon": "fluent:heart-24-regular",
  },
  {
    "title": "Comprehensive Overview",
    "description": "Get a 360-degree view of your customers to better understand their needs and personalize your approach.",
    "icon": "fluent:circle-half-fill-24-regular",
  }
];

const faq = [
  {
    "question": "What features does Empress CRM offer?",
    "answer": "Empress CRM provides intelligent forecasting, unified customer data, performance metrics, a fully optimized CRM platform, collaboration tools, and comprehensive analytics and reporting to enhance your sales cycle and customer interactions."
  },
  {
    "question": "How does Empress CRM integrate with my existing tools?",
    "answer": "Our CRM seamlessly integrates with a wide array of tools to create a cohesive sales and marketing ecosystem, streamlining your operations and ensuring that all parts of your business communicate effectively."
  },
  {
    "question": "Can I track team performance and individual goals with Empress CRM?",
    "answer": "Yes, Empress CRM offers real-time performance metrics and customizable dashboards to monitor team activities and track both team and individual performance against set goals."
  },
  {
    "question": "Is Empress CRM suitable for my business size?",
    "answer": "Empress CRM is versatile and scalable, making it suitable for businesses of all sizes, from small startups to large enterprises."
  },
  {
    "question": "What kind of support and training does Empress CRM provide?",
    "answer": "We offer comprehensive support and training programs, including online resources, webinars, and one-on-one coaching sessions to ensure you get the most out of our CRM."
  },
  {
    "question": "How does automation work within Empress CRM?",
    "answer": "Empress CRM automates routine tasks, such as lead tracking and nurturing, so you can focus on what matters most—building relationships and closing deals."
  },
  {
    "question": "What insights can I expect to gain with Empress CRM?",
    "answer": "Empress CRM's analytics and reporting tools provide strategic insights into sales trends, customer behavior, and market dynamics, allowing you to make informed decisions and adapt your strategies for better results."
  },
  {
    "question": "How does Empress CRM enhance customer interactions?",
    "answer": "Our CRM offers real-time interaction capabilities, comprehensive customer overviews, and ensures a consistent experience across all touchpoints, fostering enriched and loyal customer relationships."
  }
];

const featureBlocks = data[0].featureBlocks;

---

<Layout title="Quote" footerMargin={false}>

  <Container>
    <div>
      <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
        <Badge color="purple">{data[0].featureHeading}</Badge>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
          {data[0].mainHeading}
        </h2>
        <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
          {data[0].subtext}
        </p>
      </div>
      <div class="mt-6 flex justify-center gap-3">
        <Link href={data[0].headingButtons[0].link} class="flex gap-1 items-center justify-center bg-brand" rel="noopener">
          {data[0].headingButtons[0].text}
        </Link>
  
        <Link size="lg" style="outline" rel="noopener" href={data[0].headingButtons[1].link} class="flex gap-1 items-center justify-center border-brand text-brand">
          {data[0].headingButtons[1].text}
        </Link>
      </div>
    </div>
    <div class="w-full overflow-hidden py-3 mt-20">
      <Picture src={Logo} alt="Astronaut in the air" formats={["avif", "webp"]} sizes="100vw" width="100vw" loading="eager" fetchpriority="high" />
    </div>
  </Container>
  
  
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>


    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-10">
          {data[0].featureBlocks[0].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                  <span>{button.text}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              );
            } else {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                  {button.text}
                </a>
              );
            }
          })}
        </div>  
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

