---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const { nomargin } = Astro.props;

const templates = [
  {
    "title": "Online Store",
    "description": "Start Selling Products",
    "icon": "fluent:food-24-regular",
    "link": "/templates/online-store"
  },
  {
    "title": "B2B Marketplace",
    "description": "Connect Business Professionals",
    "icon": "fluent:food-24-regular",
    "link": "/templates/b2b-marketplace"
  },
  {
    "title": "Fashion Retailer",
    "description": "Sell Trendy Clothing",
    "icon": "fluent:food-24-regular",
    "link": "/templates/fashion-retailer"
  },
  {
    "title": "Electronics Shop",
    "description": "Offer Tech Products",
    "icon": "fluent:food-24-regular",
    "link": "/templates/electronics-shop"
  },
  {
    "title": "Food Delivery",
    "description": "Enable Online Orders",
    "icon": "fluent:food-24-regular",
    "link": "/templates/food-delivery"
  },
  {
    "title": "Subscription Store",
    "description": "Create Recurring Revenue",
    "icon": "fluent:food-24-regular",
    "link": "/templates/subscription-store"
  }
];


const data = [
{
    "mainHeading": "Launch Your Online Store",
    "subtext": "Empower your online store with a complete ecosystem designed to enhance user experience and streamline your sales process.",
    "headingButtons": [
          {
            "text": "Launch Your Store",
            "link": "/contact-online-store"
          },
          {
            "text": "View Store Plans",
            "link": "/pricing-online-store"
          }
        ],
    "sectionHeading": "Your Empress in eCommerce",
    "offering": {
      "title": "Elevate Your Product Experience",
      "subtext": "From showcasing your products to closing sales, our tools are crafted to provide a seamless flow that delights customers and drives revenue."
    },
    "valueBlocks": [
  {
    "heading": "Storefront Optimization",
    "title": "Showcase Products Beautifully",
    "description": "Utilize dynamic display options and powerful search functionalities to make finding and purchasing products effortless for your customers."
  },
  {
    "heading": "Seamless Checkout",
    "title": "Streamline the Buying Process",
    "description": "Reduce cart abandonment with a simplified checkout experience, secure payment gateways, and customizable options to boost conversion rates."
  },
  {
    "heading": "Data-Driven Insights",
    "title": "Harness the Power of Analytics",
    "description": "Leverage advanced analytics to understand customer preferences, tailor your offerings, and make data-backed decisions to drive your store’s growth."
  }
],

    "featureBlocks": [
    {
  "heading": "Optimized Online Store OS",
  "title": "Simplify Operations and Amplify Sales",
  "description": "Control every aspect of your eCommerce store from a single interface — manage listings, process orders, and analyze sales data to refine your business strategy.",
  "bulletPoints": [
"Automate inventory and order management for efficiency",
"Personalize customer experiences with integrated CRM tools",
"Scale easily with flexible and adaptive eCommerce solutions"
  ],
  "buttons": [
    {
      "text": "Start Your Store Now",
      "link": "/contact-online-store"
    },
    {
      "text": "Explore Store Plans",
      "link": "/pricing-online-store"
    }
  ]
},

{
  "heading": "Engaging Customer Interactions",
  "title": "Connect and Convert with Live Chat",
  "description": "Build relationships and drive sales with real-time chat. Provide personalized recommendations and support to enhance shopping experiences and customer loyalty.",
  "bulletPoints": [
  "Engage customers with instant support",
"Increase conversions with targeted communication",
"Receive and act on immediate customer feedback"
  ],
  "buttons": [
    {
      "text": "Engage Your Customers",
      "link": "/contact-online-store"
    },
    {
      "text": "See Chat Options",
      "link": "/pricing-online-store"
    }
  ]
},
{
  "heading": "Actionable eCommerce Analytics",
  "title": "Optimize Your Store with Smart Insights",
  "description": "Dive into your store’s performance with tools that track sales trends, customer journey analytics, and real-time feedback to fine-tune your marketing and inventory.",
  "bulletPoints": [
  "Analyze traffic and conversion patterns",
"Adapt to market demands with agile reporting",
"Maximize ROI with strategic insights"
  ],
  "buttons": [
    {
      "text": "Gain Insights",
      "link": "/contact-online-store"
    },
    {
      "text": "View Analytics Plans",
      "link": "/pricing-online-store"
    }
  ]
},  
    ],
    "featureHeading": "eCommerce Excellence",
    "featureTitle": "Discover the Future of Online Selling",
    "featureAssurance": "Our platform evolves with you, ensuring that your online store remains at the forefront of eCommerce innovation."
  }
];


const features = [
  {
    "title": "Advanced Inventory Management",
    "description": "Effortlessly manage your products with advanced tools that automate stock levels, track product performance, and alert you on low inventory to keep your store running smoothly.",
    "icon": "fluent:cube-24-regular",
  },
  {
    "title": "Dynamic Pricing Options",
    "description": "Implement flexible pricing strategies with tools that allow for discounts, coupons, and promotions to attract customers and boost sales volume.",
    "icon": "fluent:money-24-regular",
  },
  {
    "title": "Multi-channel Sales Integration",
    "description": "Expand your reach by integrating your online store with multiple sales channels including social media platforms, online marketplaces, and in-person POS systems.",
    "icon": "fluent:share-24-regular",
  },
  {
    "title": "Robust Security Measures",
    "description": "Protect your online storefront with industry-leading security protocols, ensuring safe transactions for your customers and safeguarding sensitive data.",
    "icon": "fluent:shield-24-regular",
  },
  {
    "title": "Personalized Marketing Automation",
    "description": "Engage customers with personalized marketing campaigns based on their shopping behavior and preferences, driving repeat business and customer loyalty.",
    "icon": "fluent:mail-24-regular",
  },
  {
    "title": "Comprehensive Reporting Dashboards",
    "description": "Make informed decisions with comprehensive dashboards that provide a 360-degree view of your store’s performance, from sales to customer satisfaction metrics.",
    "icon": "fluent:chart-multiple-24-regular",
  }
];

const faq = [
  {
    "question": "How easy is it to set up my online store with your platform?",
    "answer": "Our platform is designed for ease of use. With user-friendly interfaces and step-by-step guides, you can launch your store quickly. Plus, our dedicated support team is available to assist you at every step."
  },
  {
    "question": "Can I customize my store to match my brand?",
    "answer": "Absolutely! Our platform offers a range of customization options to ensure your storefront aligns with your brand identity, from color schemes to layout choices."
  },
  {
    "question": "What kind of analytics does the platform provide?",
    "answer": "You get access to actionable insights with our analytics tools, which track sales trends, customer behavior, and real-time feedback, empowering you to make informed business decisions."
  },
  {
    "question": "Is there support for managing large inventories?",
    "answer": "Yes, our advanced inventory management system is built to handle large product catalogs with ease, automating stock level tracking and providing low inventory alerts."
  },
  {
    "question": "How secure will my online transactions be?",
    "answer": "Security is our top priority. We implement robust security measures, including industry-standard encryption and compliance protocols, to protect all transactions."
  },
  {
    "question": "Does the platform support sales on other channels like social media?",
    "answer": "Our platform supports multi-channel sales integration, so you can connect with customers and sell products on various platforms including social media and online marketplaces."
  },
  {
    "question": "Are there tools to help with marketing my products?",
    "answer": "Yes, we offer personalized marketing automation tools that help you create effective campaigns, targeted promotions, and loyalty programs to engage and retain customers."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={ECommerce}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={NetworkServerManagement}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={AutomatedMarketing}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <Image
            src={DashboardDevelopment}
            alt="Feature image"
            width="909"
            height="823"
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div> -->

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

