---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import Logo from "../../../assets/logo-full.png";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const { nomargin } = Astro.props;

const templates = [
  {
    "title": "Vehicle Inventory Management",
    "description": "Track fleet vehicles",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/vehicle-inventory-management"
  },
  {
    "title": "Maintenance Scheduling",
    "description": "Schedule vehicle maintenance",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/maintenance-scheduling"
  },
  {
    "title": "Fuel and Expense Tracking",
    "description": "Monitor fuel and costs",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/fuel-and-expense-tracking"
  },
  {
    "title": "Driver Assignment System",
    "description": "Assign vehicles to drivers",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/driver-assignment-system"
  },
  {
    "title": "Vehicle Usage Analytics",
    "description": "Analyze vehicle data",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/vehicle-usage-analytics"
  },
  {
    "title": "Compliance and Safety Checklists",
    "description": "Ensure regulatory compliance",
    "icon": "fluent:clipboard-checkmark-24-regular",
    "link": "/templates/compliance-and-safety-checklists"
  }
];



const data = [
  {
    "mainHeading": "Asset Management Made Easy",
    "subtext": "Efficiently manage company resources.",
    "headingButtons": [
      {
        "text": "Manage Assets",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ],
    "sectionHeading": "Advanced Fleet Management",
    "offering": {
      "title": "Drive Operational Efficiency and Fleet Performance",
      "subtext": "Unlock the full potential of your fleet with integrated vehicle tracking, maintenance alerts, and fuel management."
    },
    "valueBlocks": [
      {
        "heading": "Fleet Tracking",
        "title": "Streamline Fleet Operations",
        "description": "Monitor vehicle locations, optimize routes, and enhance the safety of your fleet with real-time GPS tracking."
      },
      {
        "heading": "Fleet Maintenance",
        "title": "Minimize Downtime",
        "description": "Automate maintenance scheduling, track service history, and receive alerts for upcoming vehicle maintenance needs."
      },
      {
        "heading": "Fuel Management",
        "title": "Reduce Fuel Costs",
        "description": "Monitor fuel usage, identify inefficiencies, and optimize consumption with comprehensive fuel management tools."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Vehicle Management System",
        "title": "Centralize Your Fleet Operations",
        "description": "From acquisition to disposal, manage all aspects of your fleet lifecycle in one place for unmatched operational oversight.",
        "bulletPoints": [
          "Track vehicle usage and lifecycle data",
          "Manage vehicle acquisition and disposal",
          "Keep detailed records for compliance and reporting"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Driver Management",
        "title": "Safeguard Your Operations with Driver Management",
        "description": "Ensure driver safety and compliance with tools that help you manage licenses, training, and performance metrics.",
        "bulletPoints": [
          "Track driver licenses and certifications",
          "Monitor driver behavior and performance",
          "Schedule and record training sessions"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Fleet Analytics",
        "title": "Inform Your Decisions with Fleet Analytics",
        "description": "Make informed decisions with analytics that provide insights into fleet performance, utilization, and operational costs.",
        "bulletPoints": [
          "Analyze fleet performance data",
          "Improve vehicle utilization and efficiency",
          "Optimize fleet-related costs and budgeting"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      }
    ],
    "featureHeading": "Empress for Asssets",
    "featureTitle": "Elevate Your Fleet Operations",
    "featureAssurance": "Our fleet vehicle management system is designed to grow with your business, ensuring that as your fleet expands, your ability to manage effectively does too."
  }
];


const features = [
  {
    "title": "Compliance Management",
    "description": "Keep your fleet in line with regulations using our compliance management tools, ensuring your vehicles and drivers adhere to legal requirements.",
    "icon": "fluent:shield-24-regular",
  },
  {
    "title": "Accident Management",
    "description": "Efficiently handle vehicle incidents with an integrated accident management system that helps to minimize downtime and manage costs.",
    "icon": "fluent:vehicle-car-collision-24-regular",
  },
  {
    "title": "Eco-Friendly Routing",
    "description": "Reduce your carbon footprint with routes optimized for fuel efficiency, helping you make cost-effective and environmentally friendly decisions.",
    "icon": "fluent:leaf-three-24-regular",
  },
  {
    "title": "Real-Time Notifications",
    "description": "Stay updated with real-time alerts for vehicle maintenance, route deviations, and unauthorized usage, keeping you in control at all times.",
    "icon": "fluent:alert-24-regular",
  },
  {
    "title": "Custom Reporting",
    "description": "Generate custom reports for insights into fleet operations, driver performance, and cost management to aid strategic decision-making.",
    "icon": "fluent:chart-multiple-24-regular",
  },
  {
    "title": "Asset Management",
    "description": "Track all your fleet assets in one place, from vehicles to equipment, ensuring optimal allocation and reducing unnecessary expenses.",
    "icon": "fluent:briefcase-24-regular",
  }
];

const faq = [
  {
    "question": "How does the Fleet Vehicle Management System improve operational efficiency?",
    "answer": "Our system enhances operational efficiency by providing real-time GPS tracking, automated maintenance scheduling, and fuel management tools. These features work together to optimize routes, minimize vehicle downtime, and reduce fuel costs."
  },
  {
    "question": "Can the Fleet Management System help with driver safety and compliance?",
    "answer": "Absolutely. The system includes driver management tools that track licenses, certifications, and performance metrics, promoting safety and ensuring compliance with transport regulations."
  },
  {
    "question": "Is it possible to manage the entire lifecycle of a vehicle within this system?",
    "answer": "Yes, our Vehicle Management System is designed to manage all aspects of your fleet's lifecycle from acquisition to disposal, including usage tracking, maintenance records, and compliance reporting."
  },
  {
    "question": "How does the Accident Management feature work?",
    "answer": "The Accident Management feature helps you handle incidents by recording details, tracking claims, and managing repairs. This system streamlines the process to minimize downtime and costs associated with vehicle accidents."
  },
  {
    "question": "What kind of analytics can be accessed with the Fleet Analytics feature?",
    "answer": "Fleet Analytics provides insights into vehicle performance, utilization, and operational costs. This data helps in making informed decisions that can improve efficiency and optimize expenses."
  },
  {
    "question": "How will I be alerted to vehicle maintenance needs?",
    "answer": "Our system sends real-time notifications for maintenance alerts based on service history and scheduled maintenance plans, ensuring that you can proactively manage vehicle upkeep."
  },
  {
    "question": "What type of reports can I generate with the Custom Reporting feature?",
    "answer": "You can generate a variety of custom reports including, but not limited to, fleet utilization, cost management, driver performance, and maintenance records, all of which can be tailored to your specific business needs."
  },
  {
    "question": "How does Eco-Friendly Routing contribute to cost savings?",
    "answer": "Eco-Friendly Routing optimizes your fleet's routes for fuel efficiency, not only contributing to cost savings by reducing fuel consumption but also supporting your company's sustainability efforts."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="Quote" footerMargin={false}>

  <Container>
    <div>
      <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
        <Badge color="purple">{data[0].featureHeading}</Badge>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
          {data[0].mainHeading}
        </h2>
        <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
          {data[0].subtext}
        </p>
      </div>
      <div class="mt-6 flex justify-center gap-3">
        <Link href={data[0].headingButtons[0].link} class="flex gap-1 items-center justify-center bg-brand" rel="noopener">
          {data[0].headingButtons[0].text}
        </Link>
  
        <Link size="lg" style="outline" rel="noopener" href={data[0].headingButtons[1].link} class="flex gap-1 items-center justify-center border-brand text-brand">
          {data[0].headingButtons[1].text}
        </Link>
      </div>
    </div>
    <div class="w-full overflow-hidden py-3 mt-20">
      <Picture src={Logo} alt="Astronaut in the air" formats={["avif", "webp"]} sizes="100vw" width="100vw" loading="eager" fetchpriority="high" />
    </div>
  </Container>
  
  
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>


    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>  
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-10">
          {data[0].featureBlocks[0].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                  <span>{button.text}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              );
            } else {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                  {button.text}
                </a>
              );
            }
          })}
        </div>  
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

