---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture, Image } from "astro:assets";
import {
  Slack,
  Zapier,
  Intercom,
  Shopify,
  Messenger,
  Discord,
} from "@components/ui/icons";

import { Icon } from "astro-icon";

import WebsiteBuilder from "../assets/apps/website.svg";
import ECommerce from "../assets/apps/ecommerce.svg";
import Blogs from "../assets/apps/blog.svg";
import Forum from "../assets/apps/forum.svg";
import eLearning from "../assets/apps/elearning.svg";
import LiveChat from "../assets/apps/live-chat.svg";

import CRM from "../assets/apps/crm.svg";
import Sales from "../assets/apps/sales.svg";
import PointOfSale from "../assets/apps/point-of-sale.svg";
import Subscriptions from "../assets/apps/subscriptions.svg";
import Rental from "../assets/apps/rental.svg";


import Accounting from "../assets/apps/accounting.svg";
import Invoicing from "../assets/apps/invoicing.svg";
import Expenses from "../assets/apps/expenses.svg";
import Documents from "../assets/apps/documents.svg";
import Sign from "../assets/apps/sign.svg";

import Inventory from "../assets/apps/inventory.svg";
import Manufacturing from "../assets/apps/manufacturing.svg";
import PLM from "../assets/apps/plm.svg";
import Purchase from "../assets/apps/purchase.svg";
import Maintenance from "../assets/apps/maintenance.svg";
import Quality from "../assets/apps/quality.svg";

import Employees from "../assets/apps/employees.svg";
import Recruitment from "../assets/apps/recruitment.svg";
import TimeOff from "../assets/apps/time-off.svg";
import Appraisals from "../assets/apps/appraisals.svg";
import Referrals from "../assets/apps/referrals.svg";
import Fleet from "../assets/apps/fleet.svg";

import MarketingAutomation from "../assets/apps/marketing-automation.svg";
import EmailMarketing from "../assets/apps/email-marketing.svg";
import SMSMarketing from "../assets/apps/sms-marketing.svg";
import SocialMarketing from "../assets/apps/social-marketing.svg";
import Events from "../assets/apps/events.svg";
import Surveys from "../assets/apps/surveys.svg";

import Project from "../assets/apps/project.svg";
import Timesheet from "../assets/apps/timesheet.svg";
import FieldService from "../assets/apps/field-service.svg";
import Helpdesk from "../assets/apps/helpdesk.svg";
import Planning from "../assets/apps/planning.svg";
import Appointments from "../assets/apps/appointments.svg";

import Discuss from "../assets/apps/discuss.svg";
import Approvals from "../assets/apps/discuss.svg";
import VoIP from "../assets/apps/voip.svg";


const WebsiteApps = [
  {
    "title": "Website Builder",
    "description": "Create personal websites",
    "icon": "fluent:phone-24-regular",
    "link": "/app/websites/website-builder"
  },
  {
    "title": "eCommerce",
    "description": "Online store setup",
    "icon": "fluent:cart-24-regular",
    "link": "/app/websites/ecommerce"
  },
  {
    "title": "Blogs",
    "description": "Share engaging content",
    "icon": "fluent:textbox-align-top-24-regular",
    "link": "/app/websites/blogs"
  },
  {
    "title": "Forum",
    "description": "Community discussion platform",
    "icon": "fluent:chat-multiple-24-regular",
    "link": "/app/websites/forum"
  },
  {
    "title": "eLearning",
    "description": "Online courses platform",
    "icon": "fluent:food-apple-24-regular",
    "link": "/app/websites/elearning"
  },
  {
    "title": "Live Chat",
    "description": "Instant customer support",
    "icon": "fluent:chat-24-regular",
    "link": "/app/websites/live-chat"
  }
];

const SalesApps = [
{
    "title": "CRM",
    "description": "Customer relationship management",
    "icon": "fluent:people-add-24-regular",
    "link": "/app/sales/crm"
  },
  {
    "title": "Quotes",
    "description": "Generate customer quotes",
    "icon": "fluent:money-24-regular",
    "link": "/app/sales/quotes"
  },
  {
    "title": "Email",
    "description": "Targeted email campaigns ",
    "icon": "fluent:mail-copy-24-regular",
    "link": "/app/sales/quotes"
  },
  {
    "title": "Point of Sale",
    "description": "Retail transaction processing",
    "icon": "fluent:payment-24-regular",
    "link": "/app/sales/point-of-sale"
  },
  {
    "title": "Subscriptions",
    "description": "Manage recurring payments",
    "icon": "fluent:add-circle-24-regular",
    "link": "/app/sales/subscriptions"
  },
  {
    "title": "Rental",
    "description": "Equipment leasing solutions",
    "icon": "fluent:box-arrow-left-24-regular",
    "link": "/app/sales/rental"
  }
];

const FinanceApps = [
  {
    "title": "Accounting",
    "description": "Manage financial records",
    "icon": "fluent:mail-all-accounts-24-regular",
    "link": "/app/finance/accounting"
  },
  {
    "title": "Invoicing",
    "description": "Create and send invoices",
    "icon": "fluent:document-checkmark-24-regular",
    "link": "/app/finance/invoicing"
  },
  {
    "title": "Expenses",
    "description": "Track business expenses",
    "icon": "fluent:payment-24-regular",
    "link": "/app/finance/expenses"
  },
  {
    "title": "Documents",
    "description": "Organize financial documents",
    "icon": "fluent:document-one-page-24-regular",
    "link": "/app/finance/documents"
  }
];

const InventoryManufacturingApps = [
  {
    "title": "Inventory",
    "description": "Stock tracking system",
    "icon": "fluent:tray-item-add-24-regular",
    "link": "/app/inventory/inventory"
  },
  {
    "title": "Manufacturing (MRP)",
    "description": "Production planning control",
    "icon": "fluent:manufacturer-24-regular",
    "link": "/app/inventory/manufacturing"
  },
  {
    "title": "PLM",
    "description": "Product lifecycle management",
    "icon": "fluent:production-24-regular",
    "link": "/app/inventory/plm"
  },
  {
    "title": "Purchase",
    "description": "Procurement management system",
    "icon": "fluent:shopping-bag-24-regular",
    "link": "/app/inventory/purchase"
  },
  {
    "title": "Maintenance",
    "description": "Equipment upkeep scheduler",
    "icon": "fluent:wrench-screwdriver-24-regular",
    "link": "/app/inventory/maintenance"
  },
  {
    "title": "Quality",
    "description": "Quality assurance protocol",
    "icon": "fluent:checkmark-starburst-24-regular",
    "link": "/app/inventory/quality"
  }
];

const HumanResourcesApps = [
{
    "title": "Employees",
    "description": "Staff management hub",
    "icon": "fluent:people-team-24-regular",
    "link": "/app/hr/employees"
  },
  {
    "title": "Recruitment",
    "description": "Streamline hiring process",
    "icon": "fluent:people-team-add-24-regular",
    "link": "/app/hr/recruitment"
  },
  {
    "title": "Time Off",
    "description": "Leave management system",
    "icon": "fluent:beach-24-regular",
    "link": "/app/hr/time-off"
  },
  {
    "title": "Appraisals",
    "description": "Performance review tool",
    "icon": "fluent:star-emphasis-24-regular",
    "link": "/app/hr/appraisals"
  },
  {
    "title": "Referrals",
    "description": "Employee referral program",
    "icon": "fluent:comment-arrow-left-24-regular",
    "link": "/app/hr/referrals"
  },
  {
    "title": "Fleet",
    "description": "Vehicle management system",
    "icon": "fluent:vehicle-bus-24-regular",
    "link": "/app/hr/fleet"
  }
];

const MarketingApps = [
{
    "title": "Automation",
    "description": "Streamline marketing tasks",
    "icon": "fluent:bot-24-regular",
    "link": "/app/marketing/automation"
  },
  {
    "title": "Email",
    "description": "Targeted email campaigns",
    "icon": "fluent:mail-add-24-regular",
    "link": "/app/marketing/email"
  },
  {
    "title": "SMS",
    "description": "Direct text outreach",
    "icon": "fluent:phone-add-24-regular",
    "link": "/app/marketing/sms"
  },
  {
    "title": "Social",
    "description": "Social media engagement",
    "icon": "fluent:share-android-24-regular",
    "link": "/app/marketing/social"
  },
  {
    "title": "Events",
    "description": "Organize promotional events",
    "icon": "fluent:calendar-24-regular",
    "link": "/app/marketing/events"
  },
  {
    "title": "Surveys",
    "description": "Gather customer feedback",
    "icon": "fluent:clipboard-task-24-regular",
    "link": "/app/marketing/surveys"
  }
];

const ServicesApps = [
  {
    "title": "Project Management",
    "description": "Organize work structure",
    "icon": "fluent:tasks-app-24-regular",
    "link": "/app/services/project"
  },
  {
    "title": "Timesheet",
    "description": "Track work hours",
    "icon": "fluent:clock-24-regular",
    "link": "/app/services/timesheet"
  },
  {
    "title": "Field Service",
    "description": "On-site service management",
    "icon": "fluent:service-bell-24-regular",
    "link": "/app/services/field-service"
  },
  {
    "title": "Helpdesk",
    "description": "Support ticket system",
    "icon": "fluent:question-circle-24-regular",
    "link": "/app/services/help-desk"
  },
  {
    "title": "Planning",
    "description": "Strategic project planning",
    "icon": "fluent:gantt-chart-24-regular",
    "link": "/app/services/planning"
  },
  {
    "title": "Appointments",
    "description": "Schedule client meetings",
    "icon": "fluent:calendar-24-regular",
    "link": "/app/services/appointments"
  }
];

const ProductivityApps = [
{
    "title": "Manage",
    "description": "Organize project tasks",
    "icon": "fluent:tasks-app-24-regular",
    "link": "/app/projects/manage"
  },
  {
    "title": "Approve",
    "description": "Review project decisions",
    "icon": "fluent:approvals-app-24-regular",
    "link": "/app/projects/approve"
  },
  {
    "title": "Discuss",
    "description": "Collaborative communication hub",
    "icon": "fluent:chat-multiple-24-regular",
    "link": "/app/projects/discuss"
  },
  {
    "title": "Automation",
    "description": "Workflow efficiency enhancement",
    "icon": "fluent:bot-24-regular",
    "link": "/app/marketing/automation"
  }
]

---

<Layout title="apps">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Applications</Fragment>
      <Fragment slot="desc">
        Select from our comprehensive list of business applications.
      </Fragment>
    </Sectionhead>

    <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

    <!-- Websites -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-4 text-center">
      Build Your <span class="text-indigo-600">Online Presence</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        WebsiteApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    
    
    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      WebsiteApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>     -->

    <!-- Sales Apps -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Boost Your <span class="text-indigo-600">Sales Performance</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        SalesApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      SalesApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

    <!-- Finance Apps -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Streamline Your <span class="text-indigo-600">Financial Operations</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-8 md:gap-16">
      {
        FinanceApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      FinanceApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

    <!-- Inventory & Manufacturing Apps -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Optimize Your <span class="text-indigo-600">Inventory & Production</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        InventoryManufacturingApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>
    
    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      InventoryManufacturingApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

    <!-- Human Resources Apps -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Empower Your <span class="text-indigo-600">Workforce</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        HumanResourcesApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      HumanResourcesApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

    <!-- Marketing Apps -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Amplify Your <span class="text-indigo-600">Marketing Impact</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        MarketingApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      MarketingApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

    <!-- Services -->

    <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
      Elevate Your <span class="text-indigo-600">Service Delivery</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        ServicesApps.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
      ServicesApps.map((item) => (
        <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
              <Picture
                src={item.icon}
                alt={`${item.name} icon`}
                formats={["avif", "webp", "svg"]}
                sizes="(max-width: 1024px) 100vw, 50vw"
                widths={[240, 540, 720]}
                loading="lazy"
                fetchpriority="high"
                class="w-8 h-8"
              />
            </div>
    
            <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                {item.description}
            </p>
    
            <div class="mt-3 text-center">
                <a
                href={item.link}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View App
                    <span class="absolute inset-0" />
                </a>
            </div>
        </div>
      ))
      }
    </div>   -->

        <!-- Productivity Apps -->

        <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight mt-20 text-center">
          Enhance Your <span class="text-indigo-600">Workplace Productivity</span>
        </h2>

        <div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 mb-30 gap-8 md:gap-16">
          {
            ProductivityApps.map((item) => (
              <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
                  <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                    <Icon class="text-indigo-500" name={item.icon} size="24" />
                  </div>
                  <div>
                    <h3 class="font-semibold text-lg">{item.title}</h3>
                    <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
                  </div>
                </div>
              </a>
            ))
          }
        </div>

        <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
          {
          ProductivityApps.map((item) => (
            <div key={item.name} class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
                <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white"> 
                  <Picture
                    src={item.icon}
                    alt={`${item.name} icon`}
                    formats={["avif", "webp", "svg"]}
                    sizes="(max-width: 1024px) 100vw, 50vw"
                    widths={[240, 540, 720]}
                    loading="lazy"
                    fetchpriority="high"
                    class="w-8 h-8"
                  />
                </div>
        
                <h3 class="text-lg text-center font-medium mt-4">{item.name}</h3>
                <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
                    {item.description}
                </p>
        
                <div class="mt-3 text-center">
                    <a
                    href={item.link}
                    class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                        View App
                        <span class="absolute inset-0" />
                    </a>
                </div>
            </div>
          ))
          }
        </div>   -->
        <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>
</Layout>
