---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture, Image } from "astro:assets";
import {
  Slack,
  Zapier,
  Intercom,
  Shopify,
  Messenger,
  Discord,
} from "@components/ui/icons";

import { Icon } from "astro-icon";

import WebsiteBuilder from "../assets/apps/website.svg";
import ECommerce from "../assets/apps/ecommerce.svg";
import Blogs from "../assets/apps/blog.svg";
import Forum from "../assets/apps/forum.svg";
import eLearning from "../assets/apps/elearning.svg";
import LiveChat from "../assets/apps/live-chat.svg";

import CRM from "../assets/apps/crm.svg";
import Sales from "../assets/apps/sales.svg";
import PointOfSale from "../assets/apps/point-of-sale.svg";
import Subscriptions from "../assets/apps/subscriptions.svg";
import Rental from "../assets/apps/rental.svg";


import Accounting from "../assets/apps/accounting.svg";
import Invoicing from "../assets/apps/invoicing.svg";
import Expenses from "../assets/apps/expenses.svg";
import Documents from "../assets/apps/documents.svg";
import Sign from "../assets/apps/sign.svg";

import Inventory from "../assets/apps/inventory.svg";
import Manufacturing from "../assets/apps/manufacturing.svg";
import PLM from "../assets/apps/plm.svg";
import Purchase from "../assets/apps/purchase.svg";
import Maintenance from "../assets/apps/maintenance.svg";
import Quality from "../assets/apps/quality.svg";

import Employees from "../assets/apps/employees.svg";
import Recruitment from "../assets/apps/recruitment.svg";
import TimeOff from "../assets/apps/time-off.svg";
import Appraisals from "../assets/apps/appraisals.svg";
import Referrals from "../assets/apps/referrals.svg";
import Fleet from "../assets/apps/fleet.svg";

import MarketingAutomation from "../assets/apps/marketing-automation.svg";
import EmailMarketing from "../assets/apps/email-marketing.svg";
import SMSMarketing from "../assets/apps/sms-marketing.svg";
import SocialMarketing from "../assets/apps/social-marketing.svg";
import Events from "../assets/apps/events.svg";
import Surveys from "../assets/apps/surveys.svg";

import Project from "../assets/apps/project.svg";
import Timesheet from "../assets/apps/timesheet.svg";
import FieldService from "../assets/apps/field-service.svg";
import Helpdesk from "../assets/apps/helpdesk.svg";
import Planning from "../assets/apps/planning.svg";
import Appointments from "../assets/apps/appointments.svg";

import Discuss from "../assets/apps/discuss.svg";
import Approvals from "../assets/apps/discuss.svg";
import VoIP from "../assets/apps/voip.svg";

import Link from "@components/ui/link.astro";

const Finances = [
{
    "title": "Account",
    "description": "Manage Financial Flow",
    "icon": "ph:money-duotone",
    "link": "/app/finances/account",
    "color": "indigo"
  },
  {
    "title": "Invoice",
    "description": "Simplify Invoice Management",
    "icon": "ph:calendar-check-duotone",
    "link": "/app/finances/expense",
    "color": "indigo"
  },
  {
    "title": "Expense",
    "description": "Track Company Spending",
    "icon": "ph:calculator-duotone",
    "link": "/app/finances/invoice",
    "color": "indigo"
  },
  {
    "title": "Tax",
    "description": "Ensure Tax Compliance",
    "icon": "ph:coins-duotone",
    "link": "/app/finances/payroll",
    "color": "indigo"
  },
  {
    "title": "Budget",
    "description": "Optimize Resource Allocation",
    "icon": "ph:battery-charging-duotone",
    "link": "/app/finances/budget",
    "color": "indigo"
  },
  {
    "title": "Contracts",
    "description": "Process Contracts Efficiently",
    "icon": "ph:newspaper-duotone",
    "link": "/app/finances/tax",
    "color": "indigo"
  }
];

const Sales = [
{
    "title": "CRM",
    "description": "Enhance Customer Relationships",
    "icon": "ph:address-book-duotone",
    "link": "/app/sales/crm",
    "color": "indigo"
  },
  {
    "title": "Fufillment",
    "description": "Streamline Order Processing",
    "icon": "ph:archive-box-fill",
    "link": "/app/sales/fulfillment",
    "color": "indigo"
  },
  {
    "title": "Invoicing",
    "description": "Efficient Billing System",
    "icon": "ph:calendar-check-duotone",
    "link": "/app/sales/invoicing",
    "color": "indigo"
  },
  {
    "title": "Quotes",
    "description": "Generate Quick Estimates",
    "icon": "ph:quotes-duotone",
    "link": "/app/sales/quotes",
    "color": "indigo"
  },
  {
    "title": "Point of Sale",
    "description": "Simplify Retail Transactions",
    "icon": "ph:shopping-cart-simple-duotone",
    "link": "/app/sales/pos",
    "color": "indigo"
  },
  {
    "title": "Rentals",
    "description": "Manage Rental Operations",
    "icon": "ph:car-duotone",
    "link": "/app/sales/rentals",
    "color": "indigo"
  }
];

const Product = [
{
    "title": "Inventory",
    "description": "Track Stock Accurately",
    "icon": "ph:gift-duotone",
    "link": "/app/product/inventory",
    "color": "indigo"
  },
  {
    "title": "Procurement",
    "description": "Streamline Purchasing Process",
    "icon": "ph:git-branch-duotone",
    "link": "/app/product/procurement",
    "color": "indigo"
  },
  {
    "title": "Manufacturing",
    "description": "Efficient Production Management",
    "icon": "ph:buildings-duotone",
    "link": "/app/product/manufacturing",
    "color": "indigo"
  },
  {
    "title": "Lifecycle",
    "description": "Manage Product Lifecycle",
    "icon": "ph:arrows-clockwise-duotone",
    "link": "/app/product/lifecycle",
    "color": "indigo"
  },
  {
    "title": "Quality",
    "description": "Ensure Quality Standards",
    "icon": "ph:star-duotone",
    "link": "/app/product/quality",
    "color": "indigo"
  },
  {
    "title": "Maintenance",
    "description": "Streamline Asset Upkeep",
    "icon": "ph:link-duotone",
    "link": "/app/product/maintenance",
    "color": "indigo"
  }
];

const Operations = [
{
    "title": "Purchase Orders",
    "description": "Manage Orders Effectively",
    "icon": "ph:shopping-bag-duotone",
    "link": "/app/operations/purchase-orders",
    "color": "indigo"
  },
  {
    "title": "Production",
    "description": "Enhance Manufacturing Process",
    "icon": "ph:dots-three-outline-duotone",
    "link": "/app/operations/production",
    "color": "indigo"
  },
  {
    "title": "Logistics",
    "description": "Streamline Distribution Flow",
    "icon": "ph:arrow-fat-line-right-duotone",
    "link": "/app/operations/logistics",
    "color": "indigo"
  },
  {
    "title": "Distribution",
    "description": "Efficiently Distribute Products",
    "icon": "ph:truck-duotone",
    "link": "/app/operations/distribution",
    "color": "indigo"
  },
  {
    "title": "Facilities",
    "description": "Manage Facility Operations",
    "icon": "ph:house-line-duotone",
    "link": "/app/operations/facilities",
    "color": "indigo"
  },
  {
    "title": "Approvals",
    "description": "Streamline Approval Process",
    "icon": "ph:check-circle-duotone",
    "link": "/app/operations/approvals",
    "color": "indigo"
  },
]

const Marketing = [
{
    "title": "Campaign",
    "description": "Optimize Campaign Execution",
    "icon": "ph:rocket-duotone",
    "link": "/app/marketing/campaign",
    "color": "indigo"
  },
  {
    "title": "Content",
    "description": "Manage Content Effectively",
    "icon": "ph:file-video-duotone",
    "link": "/app/marketing/content",
    "color": "indigo"
  },
  {
    "title": "Social",
    "description": "Enhance Social Presence",
    "icon": "ph:share-network-duotone",
    "link": "/app/marketing/social",
    "color": "indigo"
  },
  {
    "title": "Events",
    "description": "Organize Events Efficiently",
    "icon": "ph:calendar-plus-duotone",
    "link": "/app/marketing/events",
    "color": "indigo"
  },
  {
    "title": "Email",
    "description": "Streamline Email Campaigns",
    "icon": "ph:telegram-logo-duotone",
    "link": "/app/marketing/email",
    "color": "indigo"
  },
  {
    "title": "Surveys",
    "description": "Collect Customer Feedback",
    "icon": "ph:user-list-duotone",
    "link": "/app/marketing/surveys",
    "color": "indigo"
  }
];

const Talent = [
{
    "title": "Recruit",
    "description": "Optimize Talent Acquisition",
    "icon": "ph:user-circle-plus-duotone",
    "link": "/app/talent/recruit",
    "color": "indigo"
  },
  {
    "title": "Payroll",
    "description": "Efficient Payroll Management",
    "icon": "ph:clock-duotone",
    "link": "/app/talent/payroll",
    "color": "indigo"
  },
  {
    "title": "Performance",
    "description": "Enhance Employee Performance",
    "icon": "ph:sliders-duotone",
    "link": "/app/talent/performance",
    "color": "indigo"
  },
  {
    "title": "Training",
    "description": "Streamline Staff Training",
    "icon": "ph:student-duotone",
    "link": "/app/talent/training",
    "color": "indigo"
  },
  {
    "title": "Directory",
    "description": "Manage Employee Directory",
    "icon": "ph:dots-nine-bold",
    "link": "/app/talent/directory",
    "color": "indigo"
  },
  {
    "title": "Assets",
    "description": "Optimize Asset Management",
    "icon": "ph:sketch-logo-duotone",
    "link": "/app/talent/assets",
    "color": "indigo"
  }
];

const Experience = [
{
    "title": "Helpdesk",
    "description": "Streamline Support Queries",
    "icon": "fluent:question-circle-24-regular",
    "link": "/app/experience/help-desk",
    "color": "indigo"
  },
  {
    "title": "Live Chat",
    "description": "Engage Customers Instantly",
    "icon": "ph:chats-duotone",
    "link": "/app/experience/live-chat",
    "color": "indigo"
  },
  {
    "title": "Feedback",
    "description": "Gather Valuable Feedback",
    "icon": "ph:arrows-in-cardinal-duotone",
    "link": "/app/experience/feedback",
    "color": "indigo"
  },
  {
    "title": "Forum",
    "description": "Foster Community Engagement",
    "icon": "ph:chat-dots-duotone",
    "link": "/app/experience/forum",
    "color": "indigo"
  },
  {
    "title": "Loyalty",
    "description": "Build Customer Loyalty",
    "icon": "ph:heart-duotone",
    "link": "/app/experience/loyalty",
    "color": "indigo"
  },
  {
    "title": "Appointments",
    "description": "Manage Customer Appointments",
    "icon": "ph:clock-clockwise-duotone",
    "link": "/app/experience/appointments",
    "color": "indigo"
  },
];

const Technology = [
{
    "title": "Insights",
    "description": "Unlock Data Insights",
    "icon": "ph:chart-bar-duotone",
    "link": "/features/insights",
    "color": "indigo"
  },
  {
    "title": "Flows",
    "description": "Optimize Your Workflow",
    "icon": "ph:flow-arrow-duotone",
    "link": "/features/flows",
    "color": "indigo"
  },
  {
    "title": "Zaps",
    "description": "Automate Routine Tasks",
    "icon": "ph:lightning-duotone",
    "link": "/features/zaps",
    "color": "indigo"
  },
  {
    "title": "Assistants",
    "description": "Expert AI Chat Support",
    "icon": "ph:robot-duotone",
    "link": "/features/assistants",
    "color": "indigo"
  },
  {
    "title": "Forecast",
    "description": "Anticipate Future Trends",
    "icon": "ph:cloud-sun-duotone",
    "link": "/features/forecast",
    "color": "indigo"
  },
  {
    "title": "Bridge",
    "description": "Connect With Collaborators",
    "icon": "ph:arrows-left-right-duotone",
    "link": "/features/bridge",
    "color": "indigo"
  },
  {
    "title": "Integrations",
    "description": "Seamless Tool Integration",
    "icon": "ph:plugs-connected-duotone",
    "link": "/features/integrations",
    "color": "indigo"
  },
  {
    "title": "Administration",
    "description": "Control Access & Visibility",
    "icon": "ph:gear-duotone",
    "link": "/afeatures/administration",
    "color": "indigo"
  },
  {
    "title": "Innovation",
    "description": "Customize Your Experience",
    "icon": "ph:circles-three-plus-duotone",
    "link": "/features/innovation",
    "color": "indigo"
  }
];

---

<Layout title="apps">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Applications</Fragment>
      <Fragment slot="desc">
        Select from our comprehensive list of business applications.
      </Fragment>
    </Sectionhead>

    

      <!-- Finances Apps -->

      <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
        Simplify Your <span class="text-indigo-600">Finances</span>
      </h2>
  
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          Finances.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>   
  
      <!-- <div class="flex justify-center items-center mt-20"> 
        <Link href="/app/finance" size="sm" class="inline-flex items-center justify-center group gap-px">
          <span>Finance with Empress</span>
          <svg
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div> -->
      
      <!-- <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div> -->

       <!-- Sales Apps -->

       <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

       <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
        Boost Your <span class="text-indigo-600">Sales</span>
      </h2>
  
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          Sales.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>   
  
      <!-- <div class="flex justify-center items-center mt-20"> 
        <Link href="/app/sell" size="sm" class="inline-flex items-center justify-center group gap-px">
          <span>Sell with Empress</span>
          <svg
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div> -->

      <!-- Inventory & Manufacturing Apps -->

      <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
      Streamline Your <span class="text-indigo-600">Production</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
      {
        Product.map((item) => (
          <a href={item.link} 
             class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
            <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
              <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                {/* Use the original icon coloring method */}
                <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
              </div>
              <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                <h3 class="font-semibold text-md">{item.title}</h3>
                <p class="text-slate-500">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>    

    <!-- <div class="flex justify-center items-center mt-20"> 
      <Link href="/app/produce" size="sm" class="inline-flex items-center justify-center group gap-px">
        <span>Produce with Empress</span>
        <svg
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
    </div> -->

    <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

       <!-- Operations Apps -->

       <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
        Enhance Your <span class="text-indigo-600">Operations</span>
      </h2>
   
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          Operations.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>    
   
   <!-- 
   <div class="flex justify-center items-center mt-20">
    <Link href="/app/manage" size="sm" class="inline-flex items-center justify-center group gap-px">
      <span>Manage with Empress</span>
      <svg
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"></path>
      </svg>
    </Link>
   </div> -->

   <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

     <!-- Marketing Apps -->

     <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
      Amplify Your <span class="text-indigo-600">Marketing</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
      {
        Marketing.map((item) => (
          <a href={item.link} 
             class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
            <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
              <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                {/* Use the original icon coloring method */}
                <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
              </div>
              <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                <h3 class="font-semibold text-md">{item.title}</h3>
                <p class="text-slate-500">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>   


    <!-- <div class="flex justify-center items-center mt-20"> 
      <Link href="/app/market" size="sm" class="inline-flex items-center justify-center group gap-px">
        <span>Market with Empress</span>
        <svg
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
    </div> -->

    <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>


    <!-- Talent -->

    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
      Empower Your <span class="text-indigo-600">Team</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
      {
        Talent.map((item) => (
          <a href={item.link} 
              class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
            <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
              <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                {/* Use the original icon coloring method */}
                <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
              </div>
              <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                <h3 class="font-semibold text-md">{item.title}</h3>
                <p class="text-slate-500">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>    

    <!-- <div class="flex justify-center items-center mt-20"> 
      <Link href="/app/staff" size="sm" class="inline-flex items-center justify-center group gap-px">
        <span>Staff with Empress</span>
        <svg
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
    </div> -->

    <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>


      <!-- Experience -->

      <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-20 text-center">
        Elevate Your <span class="text-indigo-600">Services</span>
      </h2>

      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          Experience.map((item) => (
            <a href={item.link} 
                class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>    


      <!-- <div class="flex justify-center items-center mt-20"> 
        <Link href="/app/support" size="sm" class="inline-flex items-center justify-center group gap-px">
          <span>Support with Empress</span>
          <svg
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div> -->

      <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

      <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

    <!-- Websites -->

    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-4 text-center">
      Enhance Your <span class="text-indigo-600">Technology</span>
    </h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
      {
        Technology.map((item) => (
          <a href={item.link} 
             class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
            <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
              <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                {/* Use the original icon coloring method */}
                <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
              </div>
              <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                <h3 class="font-semibold text-md">{item.title}</h3>
                <p class="text-slate-500">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>    
      
<!-- 
    <div class="flex justify-center items-center mt-20"> 
      <Link href="/app/build" size="sm" class="inline-flex items-center justify-center group gap-px">
        <span>Build with Empress</span>
        <svg
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
    </div> -->
    <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>
        <div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>
</Layout>
