---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
  "mainHeading": "Your Experience Control Center",
  "subtext": "Craft, manage, and perfect experiences from a centralized platform. Transform your visions into captivating realities with the power of Empress OS.",
  "headingButtons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "Contact Sales",
      "link": "/contact"
    }
  ],
  "sectionHeading": "Pioneering Experience Management",
  "offering": {
    "title": "Unified Experience Ecosystem",
    "subtext": "From ideation to optimization, manage every facet of the experience journey. Empress OS stands distinct, offering an integrated environment for all your experience needs."
  },
  "valueBlocks": [
    {
      "heading": "Crafting",
      "title": "All-in-One Creation Suite",
      "description": "Leverage tools that bring your visions to life, ensuring your experiences stand out and captivate."
    },
    {
      "heading": "Unification",
      "title": "Uniform Across Platforms",
      "description": "Consistency is key. Deliver tailored experiences that look and feel perfect, regardless of the device."
    },
    {
      "heading": "Optimization",
      "title": "Inherent Analytics",
      "description": "Built-in tools help tweak and refine your content, ensuring optimal engagement and user satisfaction."
    }
  ],
  "featureBlocks": [
    {
      "heading": "Creation Capabilities",
      "title": "Empress OS Creation Suite",
      "description": "Every tool you need, from brainstorming to publishing. Experience the evolution of content creation with Empress OS.",
      "bulletPoints": [
        "Collaborative Content Modules",
        "Dynamic Experience Blueprints",
        "Simplified Publishing Workflows"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
    {
      "heading": "Insight Engine",
      "title": "Native Experience Analytics",
      "description": "Gain insights without leaving the platform. Our built-in analytics provide clear visualizations, driving data-informed decisions.",
      "bulletPoints": [
        "Integrated Data Visuals",
        "Experience-Centric Reports",
        "Simplified Data Interpretation"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
    {
      "heading": "Innovation Hub",
      "title": "Next-Gen Experience Evolution",
      "description": "Empress OS is not static. Continuously enhanced by AI, it adapts to emerging trends, ensuring you're always a step ahead in the experience game.",
      "bulletPoints": [
        "AI-Enhanced Modules",
        "Future-Ready Frameworks",
        "Experience Evolution Pathways"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
  ],
  "buttons": [
          {
            "text": "Dive In",
            "link": "/contact"
          },
          {
            "text": "Reach Out",
            "link": "/contact"
          }
  ],
  "featureHeading": "Empress OS Advantage",
  "featureTitle": "Where Innovation Meets Execution",
  "featureAssurance": "Empress OS isn't just a platform; it's a paradigm shift in how experiences are crafted and delivered. Join us at the forefront of the experience revolution."
}
];

const features = [
  {
    "title": "Comprehensive Creation",
    "description": "Empress OS is your canvas. Paint vibrant experiences with our holistic suite of creation tools.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Management & Collaboration",
    "description": "Empress OS offers comprehensive project views and collaboration tools, ensuring a smooth integration into your existing workflow.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Centralized Data Hub",
    "description": "No more scattered data. View, analyze, and interpret from a unified dashboard, designed for clarity.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "AI-Infused Personalization",
    "description": "Predict and adapt. Empress OS, with its AI core, crafts experiences that are truly personal and dynamic.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Inherent Insights",
    "description": "Make decisions that matter. With Empress OS's inherent analytics, you're always informed, always ahead.",
    "icon": "fluent:trophy-24-regular",
  },
  {
    "title": "Consistent Delivery",
    "description": "Craft once, deliver everywhere. Empress OS ensures your experiences shine across all touchpoints.",
    "icon": "fluent:box-24-regular",
  }
];


const faq = [
  {
    question: "What exactly is Empress OS?",
    answer: "Empress OS is a pioneering experience management platform that allows you to craft, manage, and perfect experiences from a centralized platform. It's designed to transform your visions into captivating realities."
  },
  {
    question: "How can Empress OS benefit my organization?",
    answer: "By adopting Empress OS, your organization can unify its experience ecosystem. From ideation to optimization, every facet of the experience journey can be managed, ensuring a seamless and captivating experience for your users."
  },
  {
    question: "What tools are included in Empress OS?",
    answer: "The Empress OS includes collaborative content modules, project management, collaboration, and publishing, allowing you to efficiently bring your visions to life."
  },
  {
    question: "How does Empress OS handle data and information sharing?",
    answer: "Empress OS provides you with granular control over your content's visibility. For each item you publish, you can choose to make it public or private, ensuring that the right information reaches the right audience. This flexibility allows you to manage and share data with confidence, knowing that your content is accessible only to those you intend."
  },
  {
    question: "Tell me more about the AI capabilities of Empress OS.",
    answer: "Empress OS's Innovation Hub is AI-enhanced, which means it continually adapts to emerging trends. With AI-Enhanced Modules and Future-Ready Frameworks, it ensures you're always ahead in the experience management game."
  },
  {
    question: "Do you offer trial versions for users new to Empress OS?",
    answer: "Certainly. We offer a free plan to let users explore the basic functionality of Empress OS, allowing them to experience its features without any initial commitment."
  },
  {
    question: "How does Empress OS ensure a consistent experience?",
    answer: "With Empress OS, everything you design is instantly accessible through your smart bot. Users can engage with your experiences via chat and various integrated chat tools, guaranteeing a smooth interaction regardless of their chosen platform."
  },
  {
    question: "Can I customize my content using Empress OS?",
    answer: "Definitely! Empress OS provides an All-in-One Creation Suite, giving you comprehensive tools to design, craft, and deploy content that genuinely connects with your target audience."
  },
];



const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

