---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
  "mainHeading": "Optimize Performance with Experience-as-a-Service",
  "subtext": "Elevate your user interactions. Empower each touchpoint with data-driven, tailored experiences crafted by Empress.",
  "headingButtons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "Contact Sales",
      "link": "/contact"
    }
  ],
  "sectionHeading": "Transforming Business Through Experience",
  "offering": {
    "title": "Strategic Growth Through Experience",
    "subtext": "Harness the potential of user experience as your competitive advantage. Convert insights into actionable strategies with clarity and enhanced ROI."
  },
  "valueBlocks": [
    {
      "heading": "Design",
      "title": "End-to-End Content Suite",
      "description": "From ideation to deployment, plan with precision and craft experiences that resonate."
    },
    {
      "heading": "Accessibility",
      "title": "Consistent Across Devices",
      "description": "Engage users on their terms. Deliver experiences optimized for every device, ensuring lasting impressions."
    },
    {
      "heading": "Optimization",
      "title": "Data-Driven Decisions",
      "description": "Harness real-time analytics to refine interactions, elevate engagement, and steer your strategies to success."
    }
  ],
  "featureBlocks": [
    {
      "heading": "Experience Solutions",
      "title": "Complete Experience Solutions",
      "description": "From initial brainstorming to final optimization, Empress provides the tools, insights, and guidance needed to shape and refine every touchpoint, ensuring maximum impact and satisfaction.",
      "bulletPoints": [
        "Collaborative Content Planning",
        "Adaptable Experience Templates",
        "Quick Smart Bot Integration"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
    {
      "heading": "Insightful Analytics",
      "title": "Holistic Experience Analytics",
      "description": "Our platform not only aggregates data but transforms it into clear visualizations and recommendations, setting the foundation for informed decision-making and enhanced user experiences.",
      "bulletPoints": [
        "Unified Data Overview",
        "Platform-Centric Plugins",
        "Easy Integration Options"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
    {
      "heading": "Intelligent Insights",
      "title": "AI-Driven Engagement",
      "description": " By seamlessly blending AI-driven insights and automation tools, we empower businesses to anticipate user needs, deliver personalized experiences, and evolve at the pace of tomorrow's demands.",
      "bulletPoints": [
        "Collaborative Content Planning",
        "Adaptable Experience Templates",
        "Quick Smart Bot Integration"
      ],
      "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
      ]
    },
  ],
  "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
  ],
  "featureHeading": "Empowering Touchpoints",
  "featureTitle": "Elevate Every Interaction",
  "featureAssurance": "With Empress, it's more than just crafting experiences; it's about designing moments that resonate. Unlock potential in every touchpoint and lead with innovation."
}
];

const features = [
  {
    "title": "Craft Experiences",
    "description": "Elevate your creativity with tools that inspire. Craft content and experiences that resonate, simplifying your entire creative journey.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Integration Tools",
    "description": "Connect with our platform regardless of your existing setup, ensuring continuous enhancement and tracking capabilities.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Data Consolidation",
    "description": "Explore a unified dashboard that presents engagements, insights, and content, bringing clarity to your strategies.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Personalize Interactions",
    "description": "Anticipate, adapt, and amplify using the brilliance of AI, crafting personalized touchpoints every time.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Unlock Insights",
    "description": "Data at your fingertips. Dive deep into user behaviors, foresee trends, and pivot your strategies for maximum impact.",
    "icon": "fluent:trophy-24-regular",
  },
  {
    "title": "Engage Users",
    "description": "Design device-agnostic experiences ensuring consistent and memorable interactions every step of the way.",
    "icon": "fluent:box-24-regular",
  }
];

const faq = [
  {
    question: "What is Empress OS and how can it benefit my business?",
    answer: "Empress OS is a comprehensive experience platform designed to elevate user interactions. By integrating Empress OS, businesses can leverage user experience as a competitive advantage, transforming insights into actionable strategies for growth."
  },
  {
    question: "How do the Experience Solutions offered by Empress OS work?",
    answer: "Empress OS's Experience Solutions range from initial brainstorming to final optimization. It offers tools like Collaborative Content Planning, Adaptable Experience Templates, and Quick Smart Bot Integration to shape and refine every user touchpoint."
  },
  {
    question: "How does the Insightful Analytics feature transform my data?",
    answer: "Our Insightful Analytics aggregates your data and converts it into clear visualizations and actionable recommendations. With features like a Unified Data Overview, you can get a holistic view of your user engagements."
  },
  {
    question: "How does Empress OS utilize Artificial Intelligence?",
    answer: "Empress OS integrates AI-driven engagement tools. This enables businesses to anticipate user needs, provide personalized experiences, and stay ahead with features like Adaptive Chatbot Interactions and Predictive Analytics."
  },
  {
    question: "Is there a trial version of Empress OS available?",
    answer: "Yes, we offer a free plan that allows you to test the basic functionality of Empress OS. This option provides a glimpse into the platform's features without any commitment, ensuring you can explore its capabilities at your own pace."
  },
  {
    question: "How does Empress OS ensure consistency across different devices?",
    answer: "Empress OS focuses on accessibility, ensuring that users get optimized experiences regardless of the device they use. Our platform engages users with consistent interactions, whether they are on a desktop, tablet, or mobile device."
  },
  {
    question: "Can I customize content with Empress OS?",
    answer: "Absolutely! Empress OS comes with an End-to-End Content Suite, empowering you to design and craft experiences from ideation to deployment. You have the freedom to plan with precision and create content that resonates with your audience."
  }
];


const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

