---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
    "mainHeading": "Empower Your Influence with Empress",
    "subtext": "Curate, enhance, and measure transformative experiences that captivate and grow your audience.",
    "headingButtons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ],
    "sectionHeading": "Designed for Influencer Success",
    "offering": {
      "title": "Unified Digital Ecosystem for Influencers",
      "subtext": "Comprehensive tools tailored to optimize your influence and audience engagement."
    },
    "valueBlocks": [
      {
        "heading": "Content Mastery",
        "title": "Optimized Content Lifecycle",
        "description": "From ideation to engagement, seamlessly manage your content journey to reach a wider audience."
      },
      {
        "heading": "Smart Engagement",
        "title": "Always-on Audience Connection",
        "description": "Ensure consistent, tailored interactions across all platforms with the Empress Smart Bot."
      },
      {
        "heading": "Growth Insights",
        "title": "Data-Driven Audience Engagement",
        "description": "Leverage precise user experience metrics analytics for better audience understanding and strategy."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Improve Workflows",
        "title": "All-in-One Experience Suite",
        "description": "Unleash the full potential of your content. Craft, measure, and optimize experiences that resonate.",
        "bulletPoints": [
          "Streamlined content management.",
          "Quality assurance for impeccable content delivery.",
          "Tools designed for influencers' dynamic needs."
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ],
      },
      {
        "heading": "Gain More Insights",
        "title": "Maximize Engagement",
        "description": "Benefit from real-time audience insights, harnessing every interaction to fine-tune your strategy.",
        "bulletPoints": [
          "Understand audience preferences.",
          "Integrate insights for a holistic content strategy.",
          "Leverage analytics to consistently engage and grow your audience."
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ],
      },
      {
        "heading": "Advanced Analytics",
        "title": "Stay Ahead of Trends",
        "description": "Leverage AI-driven insights from Smart Bot to anticipate trends and maintain your influencer edge.",
        "bulletPoints": [
            "Harness AI for audience growth strategies.",
            "Adapt to emerging content trends.",
            "Ensure relevance and authenticity in every interaction."
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ],
      }
    ],
    "featureHeading": "Optimize Your Engagement",
    "featureTitle": "Future-Proof Your Influence",
    "featureAssurance": "Equip yourself with an evolving digital suite, always ready for your next big move."
  }
];

const features = [
  {
    "title": "Seamless Content Management",
    "description": "Plan posts, automate uploads, and curate content in a centralized hub, eliminating redundancies and maximizing reach.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Cross-Platform Engagement",
    "description": "Engage your audience with our Smart Bot, providing consistent interactions across social networks, blogs, and digital platforms.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "In-Depth Engagement Analytics",
    "description": "Get a detailed breakdown of your followers egagement, helping tailor your future content strategy.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Data-Driven Growth",
    "description": "Integrate multiple data sources, helping identify potential partnerships, content opportunities, and audience segments.",
    "icon": "fluent:data-sunburst-24-regular",
  },
  {
    "title": "Future-Proof Strategies",
    "description": "Predict trends, audience shifts, and potential growth areas, ensuring you're always ahead of the curve.",
    "icon": "fluent:trophy-24-regular",
  },
  {
    "title": "Adaptive Digital Toolkit",
    "description": "Benefit from feature enhancements and scalability options tailored to match your growth and changing needs.",
    "icon": "fluent:document-javascript-24-regular",
  }
];

const faq = [
  {
    question: "How does Empress integrate with my existing content?",
    answer: "Empress seamlessly pulls in data from your active social media and content platforms. While you manage your content independently on those platforms, our integration equips Empress's Smart Bot to enhance interactions with your audience using this data."
  },
  {
    question: "Can the Smart Bot be tailored to reflect my personal brand?",
    answer: "Definitely! Our Smart Bot is highly adaptable. It learns from the data integrated from your platforms and can be customized to echo your personal brand, ensuring interactions that feel authentic and resonate with your audience."
  },
  {
    question: "How does the AI in Empress improve audience interactions?",
    answer: "Empress's AI-driven Smart Bot analyzes data from your platforms to understand audience behavior and preferences. It then uses this information to engage with your followers in a more personalized and impactful manner, elevating their experience."
  },
  {
    question: "Is my data safe with Empress?",
    answer: "Your data's security is paramount at Empress. We employ stringent security protocols, ensuring that your integrated data remains confidential and protected at all times."
  },
  {
    question: "How can Empress's Smart Bot keep me ahead in the influencer game?",
    answer: "Empress's Smart Bot utilizes real-time data and AI analytics to anticipate audience preferences and engagement patterns. This proactive approach ensures that your interactions remain timely, relevant, and impactful, helping you maintain a strong influencer presence."
  },
  {
    question: "Is Empress easy to use even if I'm not tech-savvy?",
    answer: "Absolutely. Empress is designed to be intuitive and user-friendly. The platform's interface ensures influencers, regardless of their tech proficiency, can harness the power of the Smart Bot and other features with ease."
  }
];


const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              target="_blank"
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand"
            target="_blank">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

