---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import DataAnalysisVRTechnology from "../assets/features/data-analysis-using-vr-technology.svg";
import ToolsForDataAnalytics from "../assets/features/tools-for-data-analysis-statistical-or-financial-analytics.svg";
import BusinessDataAnalysis from "../assets/features/business-data-analysis-team-financial-forecast-statistical-market-research.svg";
import BigData from "../assets/features/big-data-or-stock-market-analysis.svg";
import AnalystConveyor from "../assets/features/people-or-analysts-working-on-conveyor.svg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
  "mainHeading": "Connect Information to Inspiration",
  "subtext": "Track, optimize, and predict user behaviors. Transform every interaction with real-time, data-driven insights.",
  "headingButtons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ],
  "sectionHeading": "Empress Insights",
  "offering": {
    "title": "The Heartbeat of Data-Driven Decisions",
    "subtext": "Turn every interaction into a goldmine of data. Extract, analyze, and leverage insights for strategic growth and enhanced ROI."
  },
  "valueBlocks": [
  {
    "heading": "Predictive Analytics",
    "title": "Navigate Tomorrow, Today",
    "description": "Proactively shape business outcomes with insights that predict and prepare you for future user needs and market shifts."
  },
  {
    "heading": "Strategic Guidance",
    "title": "Informed Decision Making",
    "description": "Translate complex user data into actionable insights, crafting experiences that deeply connect and convert."
  },
  {
    "heading": "Real-Time Dashboards",
    "title": "Visualize Your Insights",
    "description": "Respond to the market with agility, using real-time analytics to make decisions that deliver continuous user experience enhancements."
  }
  ],
  "featureBlocks": [
  {
  "heading": "Proactive Insights",
  "title": "Anticipate the Future with Predictive Analytics",
  "description": "Stay ahead of the curve by utilizing predictive analytics to gain early insights into user behavior and market trends, crafting proactive business strategies.",
  "bulletPoints": [
    "Harness forward-looking analytics to preemptively address user needs",
    "Capitalize on emerging trends by adapting to market signals in real-time",
    "Drive strategic decisions with predictive intelligence"
  ],
  "buttons": [
  {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
{
  "heading": "Behavioral Analytics",
  "title": "Unlock a Universe of Advanced Insights",
  "description": "Leverage deep behavioral insights and comprehensive data aggregation to understand and enhance every step of the user journey.",
  "bulletPoints": [
    "Analyze complex user behavior to tailor personalized experiences",
    "Aggregate cross-platform interactions for a holistic view of engagement",
    "Utilize enhanced UX mapping to identify and smooth out friction points"
  ],
  "buttons": [
  {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
{
  "heading": "Data-Driven Strategies",
  "title": "Empower Strategic Decisions with Real-Time Dashboards",
  "description": "Empower your team with real-time insights and custom analytics dashboards, enabling swift, data-driven responses to user feedback and market dynamics.",
  "bulletPoints": [
    "Adapt to changes with real-time analytics and immediate insights",
    "Customize dashboards to focus on metrics that directly impact your business goals",
    "Support decision-making with intelligent, data-based reasoning"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
  ],
  "buttons": [
  {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ],
  "featureHeading": "Optimizing Every Data Point",
  "featureTitle": "We're Here to Support You",
  "featureAssurance": "With Experience-as-a-Service, it's not about merely tracking; it's about understanding, anticipating, and evolving. Turn insights into unmatched experiences."
}
];

const features = [
  {
    "title": "Predictive Analytics",
    "description": "Unlock forward-looking insights to anticipate user needs and trends, driving proactive business strategies.",
    "icon": "fluent:data-trending-24-regular",
  },
  {
    "title": "Behavioral Intelligence",
    "description": "Understand intricate user behavior patterns through advanced analytics for more personalized interactions.",
    "icon": "fluent:brain-circuit-24-regular",
  },
  {
    "title": "Comprehensive Data Aggregation",
    "description": "Aggregate interaction data across all touchpoints, providing a 360-degree view of user engagement.",
    "icon": "fluent:database-24-regular",
  },
  {
    "title": "Real-Time Insights",
    "description": "Access immediate analytics to swiftly adapt to user feedback and market changes to optimize your business.",
    "icon": "fluent:timer-24-regular",
  },
  {
    "title": "Automated Learning",
    "description": "Leverage automated learning systems to continuously refine and improve user experiences.",
    "icon": "fluent:bot-24-regular",
  },
  {
    "title": "Custom Insights Dashboards",
    "description": "Utilize customizable dashboards to monitor the metrics that matter most to your business.",
    "icon": "fluent:cellular-data-cellular-unavailable-24-regular",
  },
  {
    "title": "Intelligent Search Capabilities",
    "description": "Experience advanced search functionality that understands context, making data retrieval intuitive and efficient.",
    "icon": "fluent:search-24-regular",
  },
  {
    "title": "Data-Driven Decision Making",
    "description": "Empower your team to make informed decisions with insights derived from comprehensive data analysis.",
    "icon": "fluent:slide-settings-24-regular",
  },
  {
    "title": "Enhanced User Experience Mapping",
    "description": "Map out user experiences in detail, identifying friction points and opportunities for optimization.",
    "icon": "fluent:map-24-regular",
  }
];



const faq = [
  {
    question: "How does Empress Insights use predictive analytics?",
    answer: "Empress Insights uses predictive analytics to forecast future user behaviors and market trends, allowing businesses to make proactive decisions and prepare for future needs and shifts in the market."
  },
  {
    question: "What is behavioral analytics and how can it help my business?",
    answer: "Behavioral analytics is the study of user behavior data. It helps your business by providing insights into how users interact with your service, enabling you to tailor personalized experiences and improve the user journey."
  },
  {
    question: "Can I customize the real-time dashboards?",
    answer: "Yes, Empress Insights offers customizable dashboards that you can tailor to focus on specific metrics that align with your business objectives, providing you with the most relevant insights for decision-making."
  },
  {
    question: "What kind of data does Empress Insights aggregate?",
    answer: "Empress Insights aggregates comprehensive interaction data from various touchpoints, providing a 360-degree view of user engagement for a holistic understanding of user behavior."
  },
  {
    question: "How does Empress Insights ensure real-time insights?",
    answer: "Empress Insights provides real-time analytics by continuously tracking and analyzing user interactions, enabling your business to quickly adapt to feedback and changes in the market."
  },
  {
    question: "What is automated learning in the context of Empress Insights?",
    answer: "Automated learning refers to the system's ability to use data and user interactions to continuously learn and improve, enhancing the accuracy of insights and user experiences over time."
  },
  {
    question: "How does Empress Insights facilitate data-driven decision-making?",
    answer: "Empress Insights empowers teams with in-depth analysis and actionable insights derived from user data, allowing for informed decisions that are based on solid data evidence and comprehensive analytics."
  }
];



const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={AnalystConveyor}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={BusinessDataAnalysis}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={ToolsForDataAnalytics}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={BigData}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../analytical-report-2.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../space-hologram.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../pie-graph.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

