---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
  {
    "mainHeading": "Leadership in the Digital Frontier",
    "subtext": "Harness Empress to elevate your leadership strategy. Access comprehensive content, predictive analytics, and seamless integrations.",
    "headingButtons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "Contact Sales",
        "link": "/contact"
      }
    ],
    "sectionHeading": "Elevate with Empress",
    "offering": {
      "title": "Lead Your Industry with Empress",
      "subtext": "Merge data, gain insights, and drive proactive audience engagement."
    },
    "valueBlocks": [
      {
        "heading": "Insightful Vision",
        "title": "Analytics-Driven Foresight",
        "description": "Unlock comprehensive insights with each Smart Bot interaction. Use the Experience API to make informed, strategic decisions."
      },
      {
        "heading": "Unified Strategy",
        "title": "Seamless Data Integration",
        "description": "Merge data across platforms, ensuring leadership's vision aligns seamlessly with operational execution."
      },
      {
        "heading": "Proactive Engagement",
        "title": "Harness Predictive Insights",
        "description": "Stay a step ahead by proactively engaging audiences. Utilize real-time and predictive insights to lead with precision."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Operational Mastery",
        "title": "Intelligent Content Suite",
        "description": "From creation to optimization, empower leadership with a full spectrum of content tools.",
        "bulletPoints": [
          "Create, optimize, and share content effortlessly",
          "Ensure up-to-date information with Smart Bot",
          "Achieve consistent messaging and brand integrity"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      },
      {
        "heading": "Global Leadership",
        "title": "Barrier-Free Engagement",
        "description": "Lead across borders with ease. Empress breaks down language and platform barriers.",
        "bulletPoints": [
          "Engage globally with platform-agnostic tools",
          "Break down language barriers with Smart Bot",
          "Drive uniform experiences across diverse devices"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      },
      {
        "heading": "Strategic Collaboration",
        "title": "Unified Leadership Vision",
        "description": "Empress fosters collaboration, ensuring your leadership vision resonates throughout your organization.",
        "bulletPoints": [
          "Harness collaborative planning suites",
          "Ensure alignment with leadership's strategic vision",
          "Promote open communication and feedback loops"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      }
    ],
    "featureHeading": "The Empress Advantage",
    "featureTitle": "Leadership-Centric Solutions",
    "featureAssurance": "Empress is dedicated to amplifying leadership excellence. If there's a need, we're here to address it."
  }
];

const features = [
  {
    "title": "Empower Your Strategy",
    "description": "Enable leadership to drive growth, innovation, and alignment across teams, ensuring consistent goal achievement.",
    "icon": "fluent:arrow-routing-24-regular"
  },
  {
    "title": "Make Decisions Faster",
    "description": "Harness the Smart Bot and Experience API for real-time insights, enabling informed and adaptive decision-making.",
    "icon": "fluent:document-javascript-24-regular"
  },
  {
    "title": "Optimize Your Communication",
    "description": "Streamline processes and communication, aligning every team and project with leadership's strategic vision.",
    "icon": "fluent:comment-checkmark-24-regular"
  },
  {
    "title": "Improve Your Culture",
    "description": "Equip leadership with tools to foster a culture of growth, innovation, and excellence across all verticals.",
    "icon": "fluent:globe-24-regular"
  },
  {
    "title": "Engage Your Customers",
    "description": "Prioritize customer experience and satisfaction, steering leadership towards customer-centric strategies.",
    "icon": "fluent:heart-24-regular"
  },
  {
    "title": "Optimize Your Operations",
    "description": "Enable leadership to optimize operations, resource allocation, and strategies with AI-driven insights.",
    "icon": "fluent:arrow-clockwise-dashes-24-regular"
  }
];

const faq = [
  {
    question: "How can Empress elevate our leadership's digital strategy?",
    answer: "Empress provides a comprehensive suite of tools designed to empower leadership in the digital era. From analytics-driven foresight to seamless data integration, we help leadership teams merge data, gain actionable insights, and drive proactive audience engagement."
  },
  {
    question: "What does the Intelligent Content Suite offer to leadership?",
    answer: "Our Intelligent Content Suite is designed to enhance operational mastery. It allows leaders to create, optimize, and share content effortlessly, ensures up-to-date information with Smart Bot, and maintains consistent messaging and brand integrity across the organization."
  },
  {
    question: "How does Empress promote global leadership?",
    answer: "Empress breaks down language and platform barriers, enabling leaders to engage globally. With platform-agnostic tools, language translation via Smart Bot, and uniform experiences across diverse devices, leadership can effectively lead across borders."
  },
  {
    question: "In what ways does Empress foster strategic collaboration?",
    answer: "Empress offers tools that ensure a unified leadership vision. We facilitate collaborative planning suites that enhance alignment with the leadership's strategic vision and promote open communication and feedback loops throughout the organization."
  },
  {
    question: "Can Empress help in making real-time informed decisions?",
    answer: "Absolutely! With the help of our Smart Bot and Experience API, leaders can harness real-time insights, enabling adaptive and informed decision-making, ensuring the alignment of actions with the organization's goals."
  },
  {
    question: "How does Empress ensure customer-centric leadership?",
    answer: "Empress prioritizes customer experience and satisfaction. We provide tools and insights that steer leadership towards strategies that are aligned with customer needs, ensuring sustainable growth and customer loyalty."
  },
  {
    question: "How can leadership optimize operations using Empress?",
    answer: "Empress equips leaders with AI-driven insights that allow for the optimization of operations, resource allocation, and strategies. This ensures operational precision, efficient use of resources, and a strategic approach to achieving organizational goals."
  }
];




const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

