---
import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import heroImage from "../assets/hero-screenshot.png";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import EmployeeImg from "../assets/employee.jpg";
import Logos from "@components/logos.astro";
import { Icon } from "astro-icon";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const features = [
  {
    "title": "Unified Marketing Automation",
    "description": "Integrate with 200+ platforms effortlessly, enabling you to offer clients versatile and adaptable marketing solutions.",
    "icon": "fluent:document-javascript-24-regular"
  },
  {
    "title": "Empowerment through Consultation",
    "description": "Enhance your offerings with our tailored solutions, empowering you to provide unmatched marketing guidance to your clients.",
    "icon": "fluent:trophy-24-regular"
  },
  {
    "title": "Consistent Brand Advocacy",
    "description": "Guarantee your clients a cohesive brand voice across all devices, elevating their presence in the market and enhancing recall.",
    "icon": "fluent:box-24-regular"
  },
  {
    "title": "Marketing Success Toolkit",
    "description": "Equip yourself with tools and insights that enable you to drive your clients' marketing campaigns to unparalleled success.",
    "icon": "fluent:document-javascript-24-regular"
  },
  {
    "title": "Decision-making with Precision",
    "description": "Leverage advanced analytics to guide your clients in making data-informed decisions, ensuring marketing efficiency and ROI.",
    "icon": "fluent:trophy-24-regular"
  },
  {
    "title": "Elevating Marketing Standards",
    "description": "Blend AI, analytics, and our insights to set new marketing benchmarks, ensuring your clients always stay ahead of the curve.",
    "icon": "fluent:box-24-regular"
  }
];



---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            Transformative Marketing 
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            Pioneering the future of business experiences with AI-driven insights and analytics.
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
            <Link
              href="https://web3templates.com/templates/astroship-pro-astro-saas-website-template"
              target="_blank"
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              Get Started
            </Link>
            <Link
              size="lg"
              style="outline"
              rel="noopener"
              href="https://github.com/surjithctly/astroship"
              class="flex gap-1 items-center justify-center border-brand text-brand"
              target="_blank">
              Free Version
            </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">Core Expertise</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        Marketing & Experience Design
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        Elevate your marketing strategies to lead in your industry.
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">Comprehensive Suite</span>
        <span slot="title">360° Experience Suite</span>
        <span slot="desc">
          Craft, measure, and enhance marketing experiences across every touchpoint.</span
        >
      </Card>
    
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">AI Solutions</span>
        <span slot="title">AI-Powered Insights</span>
        <span slot="desc">
          Utilize AI chats and data-driven strategies for optimal marketing campaigns.</span
        >
      </Card>
    
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">Unified Design</span>
        <span slot="title">Unified Experience Design</span>
        <span slot="desc">
          Align intuitive marketing experiences with your brand's vision.</span
        >
      </Card>
    </div>

      <div class="grid md:grid-cols-2 py-10">
        <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
          <Picture
            src={FeatureImg1}
            alt="Feature Image"
            formats={["avif", "webp"]}
            loading="lazy"
          />
        </div>
    
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">Experience OS</Badge>
          <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
            Strategize, Design, and Analyze with Precision
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            Dive deep into the world of next-gen analytics, combined with impeccable design and strategic planning, offering a profound edge in the evolving digital landscape.
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
    
              <span class="text-sm">Dynamic content creation for varied campaigns</span>
            </li>
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
    
              <span class="text-sm">Holistic marketing strategy integration</span>
            </li>
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
    
              <span class="text-sm">Enhance brand impact at every touchpoint</span>
            </li>
          </ul>
          <div class="flex items-center gap-4 mt-6">
            <Link href="#" size="sm" class="inline-flex items-center group gap-px">
              <span>Get Started</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </Link>
          </div>
        </div>
      </div>
    </div>

    

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
        <Picture
          src={FeatureImg1}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
        />
      </div>
  
    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">Engaging Bots</Badge>
        <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
          Evolve Beyond Traditional Outreach
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          Utilize cutting-edge AI bots, designed to maintain persistent engagement, molding every conversation to fit your brand's narrative seamlessly.
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />
  
            <span class="text-sm">Tailored AI conversations for target audiences</span>
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />
  
            <span class="text-sm">Seamless engagement across various platforms</span>
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />
  
            <span class="text-sm">Resonate with diverse audience segments</span>
          </li>
        </ul>
        <div class="flex items-center gap-4 mt-6">
          <Link href="#" size="sm" class="inline-flex items-center group gap-px">
            <span>Get Started</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </Link>
        </div>
      </div>
    </div>
  </div>

  <div class="grid md:grid-cols-2 py-10">
    <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
      <Picture
        src={FeatureImg1}
        alt="Feature Image"
        formats={["avif", "webp"]}
        loading="lazy"
      />
    </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="purple" class="-ml-px">Analytics Mastery</Badge>
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        The Power of Predictive Intelligence
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Access a sophisticated analytical toolset at your disposal, focusing on granular user experiences, ensuring every marketing decision is grounded in data.
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Predictive analytics to stay ahead of trends</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Engagement analysis for strategy refinement</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Vital metrics for optimal strategy execution</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link href="#" size="sm" class="inline-flex items-center group gap-px">
          <span>Get Started</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div>
    </div>
  </div>
</div>



    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">More Features</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        Seamless Integration
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        Amplify your marketing with Empress's integration capabilities.
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>
  <Cta />
</Layout>
