---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
  {
    "mainHeading": "Elevate Your Marketing with Empress",
    "subtext": "Unlock an all-encompassing content suite, empowered by AI-driven insights, to revolutionize your marketing campaigns.",
    "headingButtons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "Contact Sales",
        "link": "/contact"
      }
    ],
    "sectionHeading": "Redefining Modern Marketing",
    "offering": {
      "title": "Data-Driven Marketing Solutions",
      "subtext": "Harness the power of real-time and predictive analytics to amplify your marketing outreach and engagement."
    },
    "valueBlocks": [
      {
        "heading": "Content Mastery",
        "title": "End-to-End Content Suite",
        "description": "From creation to optimization, craft compelling marketing content that captivates and converts."
      },
      {
        "heading": "Smart Bot Advantage",
        "title": "AI-Enhanced Marketing",
        "description": "Keep your marketing strategies agile with our Smart Bot, updated with real-time data."
      },
      {
        "heading": "Engagement Insights",
        "title": "Analytics at Your Fingertips",
        "description": "Understand every user interaction. Leveraging advanced analytics to fine-tune your marketing approach."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Unified Data Integration",
        "title": "Streamlined Marketing Analytics",
        "description": "Merge data effortlessly from diverse platforms, ensuring a cohesive and data-driven marketing strategy.",
        "bulletPoints": [
          "Seamless data consolidation for campaigns",
          "Harness insights for informed decisions",
          "Engage audiences proactively with predictive analytics"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      },
      {
        "heading": "AI-Driven Marketing",
        "title": "Beyond Traditional Campaigns",
        "description": "Leverage AI bots for persistent, tailored engagements, ensuring every conversation aligns with your marketing narrative.",
        "bulletPoints": [
          "AI chats tailored for target audience segments",
          "Unified engagement across platforms",
          "Adaptive strategies for diverse markets"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      },
      {
        "heading": "Precision Analytics",
        "title": "Transformative Marketing Decisions",
        "description": "Equip yourself with granular user experience analytics, making every marketing decision insightful and effective.",
        "bulletPoints": [
          "Predict trends with advanced analytics",
          "Refine strategies with engagement insights",
          "Prioritize actions with critical metrics"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ]
      }
    ],
    "featureHeading": "Marketing-First Features",
    "featureTitle": "Extend Your Brand with Empress",
    "featureAssurance": "Maximize your marketing potential with seamless integrations tailored for marketers."
  }
];

const features = [
  {
    "title": "Automate with Precision",
    "description": "Effortlessly integrate with 200+ platforms, offering versatile marketing solutions that adapt to ever-evolving strategies.",
    "icon": "fluent:flash-settings-24-regular"
  },
  {
    "title": "Optimize Your Strategy",
    "description": "Redefine your strategy with our tailored solutions, delivering unparalleled marketing insights and guidance.",
    "icon": "fluent:arrow-routing-24-regular"
  },
  {
    "title": "Brand Consistency Across Channels",
    "description": "Ensure a cohesive brand voice throughout your campaigns, enhancing recall and fortifying brand identity.",
    "icon": "fluent:mobile-optimized-24-regular"
  },
  {
    "title": "Tools for Marketing Excellence",
    "description": "Unlock tools and insights that drive campaigns to unmatched success, making every marketing effort count.",
    "icon": "fluent:window-dev-tools-24-regular"
  },
  {
    "title": "Decisions Powered by Insights",
    "description": "Empower your marketing strategies with data-driven decisions, ensuring unparalleled efficiency and impactful ROI.",
    "icon": "fluent:cellular-data-1-24-regular"
  },
  {
    "title": "Get AI Driven Support",
    "description": "Combine AI, real-time analytics, and Empress insights to consistently raise your marketing standards and outcomes.",
    "icon": "fluent:bot-24-regular"
  }
];

const faq = [
  {
    question: "How does Empress enhance my content marketing strategy?",
    answer: "Empress provides an end-to-end content suite, allowing you to create, optimize, and distribute captivating marketing content that not only resonates but also converts. With AI-driven insights and analytics, your content strategy can be agile and data-informed."
  },
  {
    question: "How can I utilize AI for my marketing campaigns with Empress?",
    answer: "Our platform offers Smart Bots which are continuously updated with real-time data. These bots facilitate persistent and tailored engagements, ensuring that every interaction aligns seamlessly with your marketing narrative. AI chats can be customized for different target audience segments, offering a more personalized marketing approach."
  },
  {
    question: "What insights can I gain from Empress's analytics?",
    answer: "Empress offers granular user experience analytics, allowing you to understand every user interaction. With predictive analytics, you can anticipate market trends, refine your strategies based on engagement insights, and prioritize actions using vital metrics. Every decision becomes more insightful and effective."
  },
  {
    question: "How does Empress support data integration for marketing?",
    answer: "Empress allows for streamlined marketing analytics by merging data effortlessly from multiple platforms. This ensures a cohesive, data-driven marketing strategy, with seamless data consolidation for campaigns and the capability to harness insights for well-informed decisions."
  },
  {
    question: "Can Empress help maintain brand consistency across campaigns?",
    answer: "Absolutely. Empress ensures a cohesive brand voice throughout all your campaigns, which aids in enhancing brand recall and solidifying brand identity. Consistency is key in any successful marketing strategy, and we prioritize that."
  },
  {
    question: "Which platforms can I integrate with using Empress?",
    answer: "Empress supports integration with over 200 platforms, enabling you to offer versatile and adaptive marketing solutions. Whether it's for automation, data consolidation, or analytics, you have a wide array of platforms at your disposal."
  },
  {
    question: "How can Empress aid in setting new marketing benchmarks?",
    answer: "With Empress, you're not just following the trend; you're setting it. By blending AI, real-time analytics, and our unique insights, you can consistently raise your marketing standards and outcomes, ensuring you always stay ahead of the curve."
  }
];


const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

