---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
    "mainHeading": "Empower Your Non-Profit with Empress",
    "subtext": "Design, measure, and advance mission-driven experiences that amplify your impact, scale your reach, and foster transformative change.",
    "headingButtons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Support",
            "link": "#"
          }
        ],
    "sectionHeading": "The Empress Edge for Non-Profits",
    "offering": {
      "title": "Integrated Solutions for Mission-Critical Excellence",
      "subtext": "Holistic content management fine-tuned to meet the unique demands of non-profit organizations."
    },
    "valueBlocks": [
      {
        "heading": "Content Advocacy",
        "title": "All-in-One Advocacy Toolkit",
        "description": "Harness a robust suite guiding your message from conception to impactful dissemination."
      },
      {
        "heading": "Smart Bot Engagement",
        "title": "Expand Your Reach",
        "description": "Break barriers with our Smart Bot ensuring your mission's message reaches all platforms universally."
      },
      {
        "heading": "Impact Analytics",
        "title": "Measure Real Impact",
        "description": "Glean critical insights from each Smart Bot interaction, harnessing the power of the Experience API to refine and enhance outreach."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Purpose-Driven Experiences",
        "title": "Automate Your Workflows",
        "description": "Leverage tools thoughtfully designed for organizations committed to making a difference, ensuring seamless mission portrayal, engagement, and expansion.",
        "bulletPoints": [
          "Automated advocacy content management.",
          "Ensure consistent, impactful message delivery.",
          "Built to adapt to ever-evolving community needs."
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "https://app.empress.eco/admin/login"
          },
          {
            "text": "Contact Support",
            "link": "#"
          }
        ],
      },
      {
    "heading": "Community-Centric Data Insights",
    "title": "Optimize for Greater Reach",
    "description": "Understand your community deeper with meticulous tracking within Smart Bot engagements. Use detailed analytics to strengthen community connections and extend your mission's reach.",
    "bulletPoints": [
      "Monitor Smart Bot community engagements.",
      "Incorporate data from diverse community touchpoints.",
      "Turn insights into actionable, mission-driven strategies."
    ],
    "buttons": [
      {
        "text": "Get Started",
        "link": "https://app.empress.eco/admin/login"
      },
      {
        "text": "Contact Support",
        "link": "#"
      }
    ],
},

      {
      "heading": "AI-Driven Community Projections",
      "title": "Data-Informed Impact Strategies",
      "description": "Turn every interaction into a growth opportunity. Harness Smart Bot's AI capabilities to predict and adapt to evolving community needs and maximize your mission's influence.",
        "bulletPoints": [
            "Use AI to uncover untapped community opportunities.",
            "Predict community shifts and refine your advocacy strategies.",
            "Stay aligned with your mission's evolving trajectory."
    ],
    "buttons": [
      {
        "text": "Get Started",
        "link": "https://app.empress.eco/admin/login"
      },
      {
        "text": "Contact Support",
        "link": "#"
      }
    ],
}
    ],
    "featureHeading": "Non-Profit Design",
    "featureTitle": "Crafted for Community Impact",
    "featureAssurance": "Ensuring scalability, adaptability, and consistency as your non-profit progresses and expands its influence.",
  }
];

const features = [
  {
    "title": "Focused Content Strategy",
    "description": "Empower your non-profit with a toolkit that's primed for impactful message dissemination, advocacy, and community growth.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Universal Bot Engagement",
    "description": "Optimize outreach and establish deeper connections across varied community platforms, languages, and demographics.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Purposeful Analytics",
    "description": "Drive mission-critical decisions with actionable insights, consistently pushing the boundaries of your non-profit's impact.",
    "icon": "fluent:document-javascript-24-regular",
  },
  {
    "title": "Unified Community Data",
    "description": "Harmonize all community interactions, ensuring coherent and actionable insights that guide future strategies.",
    "icon": "fluent:data-sunburst-24-regular",
  },
  {
    "title": "Proactive Community Forecasts",
    "description": "Stay ahead of the curve with AI-guided predictions, ensuring your non-profit remains a leading force for change.",
    "icon": "fluent:trophy-24-regular",
  },
  {
    "title": "Adaptive Advocacy Interface",
    "description": "A design built to mirror the dynamism of non-profits, ever-ready to meet new challenges and adapt to community needs.",
    "icon": "fluent:document-javascript-24-regular",
  }
];


const faq = [
  {
    question: "How will Empress enhance our non-profit's existing digital platforms?",
    answer: "Empress is crafted to integrate effortlessly with various digital platforms commonly used by non-profits. We aim to augment your current systems, ensuring a hassle-free adoption and optimization that aligns with your mission-driven goals."
  },
  {
    question: "Can we tailor the Smart Bot to resonate with our non-profit's mission and values?",
    answer: "Absolutely! The Smart Bot is highly customizable and can be attuned to resonate with your non-profit's unique mission, values, and the communities you serve. This ensures authentic and impactful interactions across all touchpoints."
  },
  {
    question: "How do AI-powered insights benefit our non-profit?",
    answer: "Empress's AI-driven insights dive deep into vast data pools in real-time, providing predictive analysis that's more accurate than conventional methods. This equips your non-profit with actionable intel to stay ahead and maximize your impact."
  },
  {
    question: "How does Empress safeguard our donors' and beneficiaries' data?",
    answer: "We prioritize data integrity and security. Empress employs stringent security measures, regular backups, and data validation. Rest assured, your stakeholders' data remains secure, consistent, and available when you need it."
  },
  {
    question: "How can Empress assist our non-profit in staying ahead of community and donor trends?",
    answer: "Empress harnesses AI to offer predictions on community engagement, donor behavior, and content resonance. By evaluating user engagement, community feedback, and outreach effectiveness, we empower your non-profit to continuously adapt and grow."
  },
  {
    question: "Is Empress's platform easy to use for our diverse volunteer base?",
    answer: "Certainly, Empress's user interface is intuitive and crafted for users with varying tech backgrounds. This ensures that your staff, volunteers, and stakeholders can efficiently harness the platform's potential regardless of their tech expertise."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              target="_blank"
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand"
            target="_blank">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

