---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";
import ProfitReview from "../assets/features/profit-review.svg";
import WebService from "../assets/features/web-service.svg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import AutomatedMarketing from "../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../assets/features/dashboard-development.png";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
  {
    "mainHeading": "Scale Your Operations with Empress",
    "subtext": "Streamline processes, enhance engagement, and capitalize on real-time insights for unparalleled operational efficiency.",
    "headingButtons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "Contact Sales",
        "link": "/contact"
      }
    ],
    "sectionHeading": "Empress for Operations",
    "offering": {
      "title": "A Unified Solution for Operational Excellence",
      "subtext": "Unlock the potential of your operations from creation to optimization, seamlessly with Empress."
    },
    "valueBlocks": [
  {
    "heading": "Empress OS",
    "title": "Transform Your Workflow",
    "description": "Centralize all operational content and processes, ensuring easy access, management, and seamless collaboration across teams."
  },
  {
    "heading": "Empress Chat",
    "title": "Amplify Support Channels",
    "description": "Ensure that operational queries are addressed instantly, fostering internal alignment and optimizing stakeholder engagement."
  },
  {
    "heading": "Empress Insights",
    "title": "Unlock Operations Metrics",
    "description": "Proactively identify bottlenecks, refine strategies, and make informed decisions with real-time analytics and comprehensive dashboards."
  }
],

    "featureBlocks": [
    {
  "heading": "OS for Operations",
  "title": "Optimize Operations Through Unified Management",
  "description": "Empower your operational strategy with Empress OS, a holistic platform engineered to centralize content, foster collaboration, and enhance process efficiency.",
  "bulletPoints": [
    "Unify all operational content, ensuring easy access and management.",
    "Boost collaboration across operations teams, reducing bottlenecks.",
    "Automate and refine workflows, driving operational excellence."
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "Contact Sales",
      "link": "/contact"
    }
  ]
},
{
  "heading": "Chat for Operations",
  "title": "Seamless Integration for Efficient Operation",
  "description": "Introducing Empress Chat – a sophisticated bot designed to seamlessly integrate the power of Empress OS tools, ensuring streamlined communication across your operational landscape.",
  "bulletPoints": [
    "Instantly address operational queries, reducing response time.",
    "Enhance internal alignment with clear, real-time communication.",
    "Optimize stakeholder engagement through tailored chat experiences."
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "Contact Sales",
      "link": "/contact"
    }
  ]
},
{
  "heading": "Insights for Operations",
  "title": "Unleash Data-Driven Operational Strategies",
  "description": "Leverage Empress Insights for advanced analytics and intuitive dashboards, empowering your operations to be more proactive, efficient, and aligned with business goals.",
  "bulletPoints": [
    "Analyze real-time operational data to identify bottlenecks.",
    "Optimize supply chain, inventory, and processes with real-time insights.",
    "Ensure decision-making is grounded in reliable, comprehensive data."
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "Contact Sales",
      "link": "/contact"
    }
  ]
},
    ],
    "featureHeading": "Features for Operations",
    "featureTitle": "We're Here to Support You",
    "featureAssurance": "Operational solutions optimized for each sector, supported 24/7 by our expert team.",
  }
];

const features = [
  {
    "title": "Industry-Tailored Solutions",
    "description": "Experience operational solutions crafted for each sector, maximizing efficiency and results with Empress.",
    "icon": "fluent:building-24-regular",
  },
  {
    "title": "Educational Operations",
    "description": "Refine educational operational workflows, capitalizing on e-learning advancements and boosting student interactions.",
    "icon": "fluent:food-apple-24-regular",
  },
  {
    "title": "Financial Process Excellence",
    "description": "Operate at the forefront of the financial sector with secure, insightful, and streamlined operations.",
    "icon": "fluent:building-bank-24-regular",
  },
  {
    "title": "Governmental Efficiency",
    "description": "Enhance government processes, ensuring transparent, swift, and impactful citizen engagements.",
    "icon": "fluent:building-government-24-regular",
  },
  {
    "title": "Healthcare Operations",
    "description": "Revolutionize healthcare operations, from patient care to administrative processes, all with tech-driven solutions.",
    "icon": "fluent:briefcase-medical-24-regular",
  },
  {
    "title": "Manufacturing Mastery",
    "description": "Operate at peak efficiency in manufacturing, harnessing state-of-the-art tech solutions for each step.",
    "icon": "fluent:manufacturer-24-regular",
  }
];

const faq = [
  {
    question: "How does Empress OS simplify operational management?",
    answer: "Empress OS centralizes all operational content and processes into one platform, facilitating easy access, efficient management, and enhanced collaboration across various teams for streamlined operations."
  },
  {
    question: "What benefits does Empress Chat provide to operations?",
    answer: "Empress Chat enables instant responses to operational queries, supporting internal alignment and enhancing stakeholder engagement through efficient, real-time communication and support channels."
  },
  {
    question: "Can Empress Insights help in identifying operational bottlenecks?",
    answer: "Yes, Empress Insights offers advanced analytics and intuitive dashboards that provide real-time operational data analysis to proactively identify and address bottlenecks in the workflow."
  },
  {
    question: "Are there industry-specific solutions available?",
    answer: "Empress offers industry-tailored solutions designed to maximize efficiency and results, with optimized operational solutions for sectors like education, finance, government, healthcare, and manufacturing."
  },
  {
    question: "How does automation feature in Empress' operational strategies?",
    answer: "Empress integrates automation into operational workflows, which helps in refining processes, reducing manual bottlenecks, and driving overall operational excellence."
  },
  {
    question: "What kind of support can I expect for my operations with Empress?",
    answer: "Empress provides 24/7 expert support, ensuring that operational solutions are optimized for efficiency and any queries or issues are promptly addressed."
  },
  {
    question: "How does Empress ensure that decision-making is data-driven?",
    answer: "Empress equips operations with comprehensive, real-time insights and analytics, ensuring that all decision-making is grounded in reliable, actionable data."
  }
];





const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={WebService}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={NetworkServerManagement}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={AutomatedMarketing}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={DashboardDevelopment}
            alt="Feature image"
            width="909"
            height="823"
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../public/logistic-packaging.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../public/data-servers-2.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../public/candlestick-analysis.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

