---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import NetworkServerEndpointManagement from "../assets/features/network-server-endpoint-management.svg";
import ScheduleManagement from "../assets/features/schedule-management.svg";
import BusinessWebsite from "../assets/features/business-website.svg";
import Devops from "../assets/features/devops.svg";



// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
  "mainHeading": "The Operating System for Business Growth",
  "subtext": "Empress OS empowers you to craft, streamline, and elevate your growth journey—all from one integrated platform.",
  "headingButtons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ],
  "sectionHeading": "The Empress Difference",
  "offering": {
    "title": "Where Innovation Meets Execution",
    "subtext": "Revolutionizing collaboration and management with seamless, intuitive, and comprehensive tools for modern teams."
  },
  "valueBlocks": [
  {
    "heading": "Content",
    "title": "Streamline Your Content",
    "description": "Empower your team with intuitive tools to create, manage, and publish content, all from a centralized platform that simplifies your digital landscape."
  },
  {
    "heading": "Collaboration",
    "title": "Collaborate with Ease",
    "description": "Foster a connected and dynamic team environment with real-time tools that turn individual efforts into collective achievements."
  },
  {
    "heading": "Coordination",
    "title": "Coordinate Insights",
    "description": "Gain actionable insights with advanced dashboards and automate mundane tasks to ensure your team’s focus remains on achieving strategic goals efficiently."
  }
],
  "featureBlocks": [
  {
  "heading": "Content",
  "title": "Simplify Your Content Management",
  "description": "Transform the chaos of content management into a streamlined, creative process. Enhance your content strategies to publish and manage with ease.",
  "bulletPoints": [
    "Create, edit, and publish content effortlessly with intuitive tools",
    "Maintain a centralized media library for all your digital assets",
    "Leverage seamless integrations to enhance your content ecosystem"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
{
  "heading": "Collaboration",
  "title": "Enhance Your Team's Collaboration",
  "description": "Empress OS is engineered to unlock your team's collaborative potential, enabling real-time communication and project management to drive unparalleled synergy and productivity.",
  "bulletPoints": [
    "Foster real-time communication to keep your team connected",
    "Empower collaborative editing for a dynamic workflow",
    "Configure custom access permissions to safeguard information"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
{
  "heading": "Coordination",
  "title": "Accelerate Your Project Performance",
  "description": "Navigate the complexities of project management with Empress OS, offering clarity through comprehensive dashboards and automated task management, ensuring every project is a success.",
  "bulletPoints": [
    "Gain clarity with dashboards on project timelines and deliverables",
    "Automate routine tasks to focus on strategic objectives",
    "Access a centralized knowledge base to underpin project decisions"
  ],
  "buttons": [
    {
      "text": "Get Started",
      "link": "/contact"
    },
    {
      "text": "View Pricing",
      "link": "/pricing"
    }
  ]
},
  ],
  "buttons": [
          {
            "text": "Dive In",
            "link": "/contact"
          },
          {
            "text": "Reach Out",
            "link": "/contact"
          }
  ],
  "featureHeading": "Empress OS Benefits",
  "featureTitle": "We're Here to Support You",
  "featureAssurance": "A transformative platform where creative visions are seamlessly turned into reality. Step into the new era of digital experience."
}
];

const features = [
  {
    "title": "Content Management Simplified",
    "description": "Intuitive tools for creating and managing digital content, streamlining the publication process for blogs and wikis.",
    "icon": "fluent:document-48-regular",
  },
  {
    "title": "Enhanced Team Collaboration",
    "description": "Real-time communication and collaborative editing that catalyze team synergy and project management efficiency.",
    "icon": "fluent:people-team-24-regular",
  },
  {
    "title": "Project Management Clarity",
    "description": "Comprehensive dashboards providing insight into project timelines, deliverables, and team accountability.",
    "icon": "fluent:clipboard-task-list-ltr-20-regular",
  },
  {
    "title": "Automated Routine Tasks",
    "description": "Advanced automation for repetitive tasks, freeing up valuable time for strategic and creative work.",
    "icon": "fluent:arrow-step-in-right-24-filled",
  },
  {
    "title": "Custom Access Permissions",
    "description": "Configurable access controls ensuring secure and appropriate use of information across the team.",
    "icon": "fluent:lock-shield-24-regular",
  },
  {
    "title": "Centralized Media Storage",
    "description": "A unified media library for efficient storage and retrieval of multimedia content, supporting dynamic content creation.",
    "icon": "fluent:image-search-24-regular",
  },
  {
    "title": "Seamless Integrations",
    "description": "Connect with a wide array of tools and platforms for a seamless operational ecosystem within the organization.",
    "icon": "fluent:plug-connected-24-regular",
  },
  {
    "title": "Cross-Device Accessibility",
    "description": "A platform that adapts to all devices, ensuring access to tools and data for your entire team anytime, anywhere.",
    "icon": "fluent:cellular-data-cellular-unavailable-24-regular",
  },
  {
    "title": "Knowledge Base Centralization",
    "description": "A comprehensive knowledge repository that acts as a centralized reference point for the entire team.",
    "icon": "fluent:book-information-24-regular",
  }
];



const faq = [
  {
    question: "What does Empress OS offer for content management?",
    answer: "Empress OS simplifies content management by providing intuitive tools to create, manage, and publish content. It includes a centralized media library for digital assets and supports seamless integrations to enhance content workflows."
  },
  {
    question: "How does Empress OS facilitate team collaboration?",
    answer: "Empress OS enhances team collaboration by enabling project management features that help in aligning the team's efforts. It also allows for collaborative editing and configurable access permissions to ensure secure collaboration."
  },
  {
    question: "What project management features does Empress OS include?",
    answer: "Empress OS provides comprehensive dashboards for tracking project progress, automates routine tasks to increase focus on strategic goals, and includes a centralized knowledge base for supporting project-related decisions."
  },
  {
    question: "Can Empress OS be integrated with my existing tools?",
    answer: "Yes, Empress OS boasts integration capabilities with a broad range of applications, services, and platforms to synchronize your operational ecosystem efficiently."
  },
  {
    question: "Is Empress OS suitable for use on all devices?",
    answer: "Empress OS is accessible across various devices, ensuring team members can utilize its full suite of tools and access data whenever necessary, from any location."
  },
  {
    question: "What kind of tasks can Empress OS help automate?",
    answer: "Empress OS can automate an array of tasks, such as scheduling, content distribution, and report generation, which allows teams to focus more on high-impact activities and creative processes."
  },
  {
    question: "How does Empress OS maintain security in team collaboration?",
    answer: "Empress OS maintains a high level of security in team collaboration by offering granular access controls. This feature ensures that team members have appropriate levels of data access, tailored to their roles and responsibilities."
  }
];




const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={NetworkServerEndpointManagement}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={BusinessWebsite}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={ScheduleManagement}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={Devops}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../financial-infographics.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../annual-report.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../ai-analytics.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

