---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
    "mainHeading": "Elevate Your Experience",
    "subtext": "Empress equips businesses of all sizes with a cutting-edge experience suite. Drive transformative experiences, streamline results, and fuel your journey to excellence.",
    "headingButtons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "Contact Sales",
            "link": "/contact"
          }
        ],
    "sectionHeading": "Business Growth",
    "offering": {
      "title": "Elevate Every Touchpoint",
      "subtext": "Empress refines each interaction, transforming ordinary moments into memorable business milestones."
    },
    "valueBlocks": [
        {
            "heading": "Create",
            "title": "Empress OS",
            "description": "Comprehensive platform for crafting, managing, and refining digital experiences."
        },
        {
            "heading": "Engage",
            "title": "Smart Bots",
            "description": "AI-powered ambassadors that resonate brand consistency, delivering genuine, adaptable interactions."
        },
        {
            "heading": "Analyze",
            "title": "Experience-as-a-Service",
            "description": "Empower your strategies with insights captured in real-time, analyzed for actionable refinement."
        }
    ],
    "featureBlocks": [
        {
            "heading": "Empress OS",
            "title": "Your Centralized Experience Control Center",
            "description": "Plan, create, and collaborate from a singular platform, ensuring every touchpoint resonates.",
            "bulletPoints": [
                "Holistic Creation & Delivery Suite",
                "Unified Analytics Dashboard",
                "Adaptive, AI-Driven Personalization"
            ],
            "buttons": [
                {
                    "text": "Discover Empress OS",
                    "link": "/empress-os"
                },
                {
                    "text": "Contact Sales",
                    "link": "/contact"
                }
            ],
        },
        {
            "heading": "Smart Bots",
            "title": "Converse with AI-Precision, Connect with Human Touch",
            "description": "Deliver personalized dialogues, offer seamless content accessibility, and resonate globally.",
            "bulletPoints": [
                "Brand-Centric AI Interactions",
                "Dynamic Evolution with User Behavior",
                "Multilingual Brand Messaging"
            ],
            "buttons": [
                {
                    "text": "Explore Smart Bots",
                    "link": "/smart-bots"
                },
                {
                    "text": "Contact Sales",
                    "link": "/contact"
                }
            ],
        },
        {
            "heading": "Experience-as-a-Service",
            "title": "Transforming Data into Actionable Digital Strategies",
            "description": "Real-time user behavior tracking, advanced analytics, and AI-powered forecasts.",
            "bulletPoints": [
                "Comprehensive Behavior Tracking",
                "Visualize User Journeys",
                "Anticipate Market Trends"
            ],
            "buttons": [
                {
                    "text": "Experienc EaaS",
                    "link": "/experience-as-a-service"
                },
                {
                    "text": "Contact Sales",
                    "link": "/contact"
                }
            ],
        }
    ],
    "buttons": [
        {
            "text": "Begin Your Digital Transformation",
            "link": "https://app.empress.eco/admin/login"
        },
        {
            "text": "Contact Our Team",
            "link": "/contact"
        }
    ],
    "featureHeading": "The Power of Integration",
    "featureTitle": "Fully Connected Ecosystem",
    "featureAssurance": "Experience the true potential when Empress OS, Smart Bots, and EaaS unite. Crafted to perfection, this trifecta ensures real-time synchronization, holistic insights, and a harmonized digital evolution."
  }
];

const features = [
  {
    "title": "Accelerate Your Workflow",
    "description": "Transition from ideation to delivery with Empress. Every experience is meticulously aligned with your business imperatives.",
    "icon": "fluent:rocket-24-regular"
  },
  {
    "title": "Adaptive AI Interactions",
    "description": "Experience real-time content adaptation with our Smart Bot, ensuring relevance across platforms and cultures.",
    "icon": "fluent:bot-24-regular"
  },
  {
    "title": "In-depth User Comprehension",
    "description": "Leverage the Experience API to unearth and act on deep insights, driving user engagement and satisfaction.",
    "icon": "fluent:inprivate-account-24-regular"
  },
  {
    "title": "Effortless Data Synchronization",
    "description": "Seamlessly amalgamate data across platforms, ensuring uninterrupted and cohesive user experiences.",
    "icon": "fluent:merge-24-regular"
  },
  {
    "title": "Stay Ahead, Always",
    "description": "Harness real-time analytics and AI predictions to remain a step ahead in user engagement and content delivery.",
    "icon": "fluent:fast-forward-24-regular"
  },
  {
    "title": "Unified User Experiences",
    "description": "With Empress, deliver unwavering quality and cohesion across all devices, ensuring users enjoy a consistent journey every time.",
    "icon": "fluent:emoji-smile-slight-24-regular"
  }
];


const faq = [
  {
    question: "How does Empress differentiate its experience suite?",
    answer: "Empress crafts transformative experiences tailored for businesses of all sizes. Our suite focuses on elevating every touchpoint, ensuring memorable milestones in every business interaction."
  },
  {
    question: "Can Empress OS integrate with my current digital tools?",
    answer: "Absolutely. Empress OS is a comprehensive platform designed for flexibility. It not only allows you to craft and manage experiences but also ensures seamless integration with your existing digital toolkit."
  },
  {
    question: "How do Smart Bots adapt to diverse user bases?",
    answer: "Empress Smart Bots utilize AI to resonate brand consistency. They adapt in real-time to user behavior, offering genuine interactions across platforms and even catering to multilingual audiences."
  },
  {
    question: "What insights can I extract from Experience-as-a-Service?",
    answer: "Our Experience-as-a-Service dives deep into user behaviors, capturing real-time insights. It offers advanced analytics and AI-powered forecasts, arming you with actionable strategies for continual refinement."
  },
  {
    question: "How does the Empress ecosystem synchronize its features?",
    answer: "The synergy between Empress OS, Smart Bots, and EaaS ensures real-time synchronization. This harmonious integration grants businesses a holistic view of insights and a unified approach to digital evolution."
  },
  {
    question: "Is there an opportunity to test Empress features before a full commitment?",
    answer: "Certainly! We offer demo versions to acquaint you with our features. For a deeper dive and tailored solutions, our sales team is always ready to assist."
  },
  {
    question: "What measures does Empress take to ensure data continuity?",
    answer: "Data continuity is paramount at Empress. Our platform is designed to amalgamate data effortlessly across platforms, guaranteeing cohesive and uninterrupted user journeys."
  },
  {
    question: "How does the Empress Ecosystem benefit businesses?",
    answer: "The Empress Ecosystem Synergy integrates Empress OS, Smart Bots, and EaaS, ensuring that every component works harmoniously. This provides businesses with a comprehensive toolset that synchronizes in real-time, offering holistic insights and a unified approach to digital transformation."
  },
];


const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

