---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "../components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../assets/hero-screenshot.png";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../assets/employee.jpg";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});


const data = [
{
    "mainHeading": "Elevate Your Experience",
    "subtext": "Empress equips businesses of all sizes with a cutting-edge experience suite. Drive transformative experiences, streamline results, and fuel your journey to excellence.",
    "headingButtons": [
          {
            "text": "Get Started",
            "link": "#"
          },
          {
            "text": "Free Version",
            "link": "#"
          }
        ],
    "sectionHeading": "Business Growth",
    "offering": {
      "title": "Elevate Every Touchpoint",
      "subtext": "Empress refines each interaction, transforming ordinary moments into memorable business milestones."
    },
    "valueBlocks": [
      {
        "heading": "Empress OS",
        "title": "Design Cutting-Edge Experiences",
        "description": "Deliver dynamic, personalized user experiences designed for impact."
      },
      {
        "heading": "Smart Bots",
        "title": "Constant & Consistent Presence",
        "description": "Engage users consistently across platforms with Empress's intelligent bots."
      },
      {
        "heading": "Experience-as-a-Service",
        "title": "Instant Expertise, On-Demand",
        "description": "Transform experiences with expert guidance to reach global audiences."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Empress OS",
        "title": "Elevate Every User Journey",
        "description": "Our platform combines campaign tools, unified analytics, and AI-driven user engagements on a single platform.",
        "bulletPoints": [
          "All-in-One Platform",
          "Unified Experience Analytics",
          "AI-Enhanced Engagements"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "#"
          }
        ],
      },
      {
        "heading": "Smart Bots",
        "title": "Personalized, Insightful, and Global Experiences",
        "description": "Enable tailored AI interactions, offering real-time user insights and ensuring global accessibility.",
        "bulletPoints": [
          "Tailored AI Conversations",
          "Real-time User Analysis",
          "Global Engagement"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "#"
          }
        ],
      },
      {
        "heading": "Experience-as-a-Service",
        "title": "Expertise at Your Fingertips",
        "description": "Align your brand, confidently navigate experience transformations, and resonate with global audiences with expert support.",
        "bulletPoints": [
          "Intelligent AI-Powered Chatbots",
          "Predictive Analytics for Strategic Actions",
          "AI-Enhanced Personalization & Automations"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "#"
          }
        ],
      }
    ],
    "buttons": [
          {
            "text": "Start 14-day trial",
            "link": "#"
          },
          {
            "text": "Contact Sales",
            "link": "#"
          }
        ],
    "featureHeading": "Empress Advantage",
    "featureTitle": "Unlock the Empress Advantage",
    "featureAssurance": "Dive into a universe of unmatched experiences with Empress. If there's a horizon you've yet to explore, reach out – we're your partners in designing impactful experiences.",
  }
];

const features = [
{
    "title": "Maximize Efficiency",
    "description": "From idea inception to real-world application, craft, measure, and refine experiences that resonate with business goals.",
    "icon": "fluent:data-line-24-regular"
  },
  {
    "title": "Always On, Always Relevant",
    "description": "Empress's Smart Bot ensures users enjoy tailored interactions, evolving with your content across platforms and languages.",
    "icon": "fluent:data-line-24-regular"
  },
  {
    "title": "Track, Analyze, and Enhance",
    "description": "Extract actionable insights from every interaction using the Experience API for a deep understanding of user behaviors.",
    "icon": "fluent:data-line-24-regular"
  },
  {
    "title": "Seamless Data Tranfer",
    "description": "Effortlessly transition and integrate data from supported platforms, prioritizing data integrity and seamless experiences.",
    "icon": "fluent:merge-24-regular"
  },
  {
    "title": "Proactive User Engagement",
    "description": "Empower your strategy with real-time and predictive analytics, forecasting trends to optimize user outreach.",
    "icon": "fluent:data-line-24-regular"
  },
  {
    "title": "Uniform Excellence",
    "description": "Deliver consistent experiences across devices, from smartphones to desktops, ensuring a seamless user journey.",
    "icon": "fluent:data-line-24-regular"
  }
];

const faq = [
  {
    question: "What does Empress primarily offer?",
    answer: "Empress offers a cutting-edge experience suite designed to elevate user interactions and streamline results for businesses of all sizes."
  },
  {
    question: "What can I achieve with Empress OS?",
    answer: "With Empress OS, you can design dynamic, personalized user experiences that have a significant impact. It combines campaign tools, unified analytics, and AI-driven user engagements on a single platform."
  },
  {
    question: "How do Smart Bots enhance user interactions?",
    answer: "Empress's Smart Bots offer tailored AI interactions that provide real-time insights into user behavior, ensuring consistent engagement across various platforms and global accessibility."
  },
  {
    question: "Can you explain Experience-as-a-Service?",
    answer: "Certainly! Experience-as-a-Service provides expertise to help brands confidently navigate experience transformations. It ensures your brand resonates with global audiences and offers AI-enhanced personalization and automations."
  },
  {
    question: "What is the Empress Advantage?",
    answer: "The Empress Advantage allows businesses to unlock a universe of unmatched experiences. Whether it's a horizon you've yet to explore or you need expert guidance, Empress is your partner in designing impactful user journeys."
  },
  {
    question: "Are there trial versions or demos available?",
    answer: "Yes, there's a free version available that you can use to test our offerings, and for comprehensive offerings, you can contact our sales team."
  },
  {
    question: "How does Empress ensure data integration is seamless?",
    answer: "Empress prioritizes data integrity and offers seamless experiences by effortlessly transitioning and integrating data from supported platforms."
  }
];




const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              target="_blank"
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand"
            target="_blank">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={heroImage}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgThree}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={FeatureImgTwo}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <!-- // svg image. cannot use <picture/> as of now -->
          <Image
            src={IntegrationImg}
            alt="Feature image"
            width="909"
            height="823"
            class="h-full w-full object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div>



      <!-- FeatureBlock.astro -->
    
      <div class="grid place-items-center">
        {data[0].featureBlocks.map((block) => (
          <div class="grid md:grid-cols-2 py-10">
            <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
              <Picture
                src={FeatureImg1}
                alt="Feature Image"
                formats={["avif", "webp"]}
                loading="lazy"
              />
            </div>
            <div class="grid place-items-center">
              <div class="max-w-lg">
                <Badge color="purple" class="-ml-px">{block.heading}</Badge>
                <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
                  {block.title}
                </h3>
                <p class="mt-4 text-slate-600 [text-wrap:balance]">
                  {block.description}
                </p>
                <ul class="grid mt-6 text-left gap-y-4">
                  {block.bulletPoints.map((point) => (
                    <li class="flex items-center gap-3 text-neutral-800">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                      <span class="text-sm">{point}</span>
                    </li>
                  ))}
                </ul>
                <div class="flex items-center gap-4 mt-6">
                  {block.buttons?.map((button, index) => {
                    if (index === 0) {
                      return (
                        <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                          <span>{button.text}</span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </Link>
                      );
                    } else {
                      return (
                        <a 
                          href={button.link} 
                          class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                          {button.text}
                        </a>
                      );
                    }
                  })}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

