---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";
import ArrowIcon from "../components/ui/icons/arrow.astro"
import { Picture, Image } from "astro:assets";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import FeatureImg8 from "../assets/features/8.png";

const features = [
  {
    "title": "Integrated Business Solutions",
    "description": "Leverage advanced tools with Empress to drive growth, align with your goals, and increase profits efficiently.",
    "icon": "fluent:weather-sunny-high-24-regular"
  },
  {
    "title": "Effortless Platform Migration",
    "description": "Transfer and integrate data from any existing platform, with tools that prioritize data integrity and seamless transition.",
    "icon": "fluent:arrow-step-in-right-24-filled"
  },
  {
    "title": "All-In-One Analytics Hub",
    "description": "Access comprehensive metrics, user engagement data, and analytics all from a centralized dashboard.",
    "icon": "fluent:cellular-data-cellular-unavailable-24-regular"
  },

    {
    "title": "Live User Insights",
    "description": "Monitor real-time user interactions, enabling swift and effective adjustments to strategies, ensuring continuous improvement.",
    "icon": "fluent:inprivate-account-24-filled"
  },
  {
    "title": "Cross-Device Compatibility",
    "description": "Ensure a consistent and high-quality user experience irrespective of the device in use, from smartphones to desktops.",
    "icon": "fluent:device-meeting-room-remote-24-regular"
  },
  {
    "title": "24/7 Expert Assistance",
    "description": "Our dedicated team is always on standby. From technical queries to strategy consultation, we're committed to helping you achieve your goals.",
    "icon": "fluent:chat-bubbles-question-24-regular"
  }
];

const faq = [
  {
    question: "How can Empress help my startup grow?",
    answer: "Empress equips startups with comprehensive tools for business management, user engagement analytics, and AI-driven personalization to enhance growth and streamline your operational processes."
  },
  {
    question: "Is Empress suitable for large, established brands?",
    answer: "Absolutely. Empress offers scalability and integration capabilities that are perfect for established brands looking to innovate and optimize their user experience at scale."
  },
  {
    question: "Can I monitor user interactions in real-time with Empress?",
    answer: "Yes, Empress provides real-time monitoring and analytics to help you understand and enhance user interactions as they happen."
  },
  {
    question: "What makes Empress different from other AI interaction tools?",
    answer: "Empress stands out with its predictive engagement strategies, tailored AI-assisted interactions, and intuitive dashboards for actionable business insights."
  },
  {
    question: "How does Empress cater to specific industries?",
    answer: "Empress offers specialized solutions tailored to meet the unique demands of industries such as education, finance, healthcare, and more, ensuring relevance and precision in user interactions."
  },
  {
    question: "Is there support available for platform migration to Empress?",
    answer: "Yes, Empress provides effortless platform migration support, ensuring a smooth transition with a focus on data integrity and minimal operational disruption."
  },
  {
    question: "What support does Empress offer post-integration?",
    answer: "Empress offers 24/7 expert assistance for all your technical queries and strategic needs, ensuring continuous support for your business growth."
  }
];


---

<!-- <div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We have got more awesome <span class="text-indigo-600">features</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Use this section to highlight not so important features of your product.
  </p>
</div> -->
<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">More Features</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    We've Got You Covered
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    We're you're partner in business growth. If you don't find what you're looking
    for, contact us and we'll either help you or steer you in the right
    direction.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>


<div class="mt-14 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequently asked questions</Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {faq.map(item => (
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span>{item.question}</span>
            <span class="transition group-open:rotate-180">
              <ArrowIcon />
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            {item.answer}
          </p>
        </details>
      </div>
    ))}
  </div>
</Container>



