---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";
import ArrowIcon from "../components/ui/icons/arrow.astro"

const features = [
  {
    "title": "Unified Experience Design",
    "description": "Craft new experiences with a suite of intuitive experience design tools, ensuring every user interaction aligns with your vision.",
    "icon": "fluent:document-javascript-24-regular"
  },
  {
    "title": "Effortless Platform Migration",
    "description": "Transfer and integrate data from any existing platform, with tools that prioritize data integrity and seamless transition.",
    "icon": "fluent:trophy-24-regular"
  },
  {
    "title": "All-In-One Analytics Hub",
    "description": "Access comprehensive metrics, user engagement data, and content analytics all from a centralized dashboard.",
    "icon": "fluent:box-24-regular"
  },

    {
    "title": "Live User Insights",
    "description": "Monitor real-time user interactions, enabling swift and effective adjustments to strategies or content, ensuring continuous improvement.",
    "icon": "fluent:box-multiple-24-regular"
  },
  {
    "title": "Cross-Device Compatibility",
    "description": "Ensure a consistent and high-quality user experience irrespective of the device in use, from smartphones to desktops.",
    "icon": "fluent:book-search-24-regular"
  },
  {
    "title": "24/7 Expert Assistance",
    "description": "Our dedicated team is always on standby. From technical queries to strategy consultation, we're committed to helping you achieve your goals.",
    "icon": "fluent:people-community-24-regular"
  }
];

const faq = [
  {
    question: "What is Empress OS and what does it offer?",
    answer: "The Empress OS Experience Suite covers the full content journey: from creation to optimization, enhancing user engagement and innovation."
  },
  {
    question: "How is the Smart Bot in Empress unique?",
    answer: "Empress's Smart Bot constantly updates with your latest content, offering tailored interactions across various platforms and languages."
  },
  {
    question: "What's the role of the Experience API (xAPI)?",
    answer: "xAPI captures experience focused data and captures every Smart Bot interaction, providing detailed insights into user behavior and preferences."
  },
  {
    question: "How does Empress handle data from my existing platforms?",
    answer: "Empress ensures easy data migration from existing platforms, prioritizing data integrity and smooth integration."
  },
  {
    question: "How do real-time and predictive analytics enhance engagement?",
    answer: "Real-time analytics offer immediate user insights. Predictive analytics forecast trends, allowing proactive audience engagement."
  },
  {
    question: "Is Empress compatible across devices?",
    answer: "Yes, Empress ensures a consistent user experience across devices, from smartphones to desktops."
  },
  {
    question: "Can I integrate other tools with Empress?",
    answer: "Absolutely! Empress supports seamless integration with over 100 tools via webhooks and Zapier."
  }
];



---

<!-- <div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We have got more awesome <span class="text-indigo-600">features</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Use this section to highlight not so important features of your product.
  </p>
</div> -->
<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">More Features</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    We've got you covered
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    Empress covers all things experience. If you don't find what you're looking
    for, contact us and we'll either help you or steer you in the right
    direction.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequently asked questions</Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {faq.map(item => (
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span>{item.question}</span>
            <span class="transition group-open:rotate-180">
              <ArrowIcon />
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            {item.answer}
          </p>
        </details>
      </div>
    ))}
  </div>
</Container>

