---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import ModernCity from "../assets/features/modern-city.svg";
import BusinessAnalyst from "../assets/features/business-analyst.svg";
import BusinessCompetition from "../assets/features/business-competition.svg";
import ArtificialIntelligence from "../assets/features/artificial-intelligence.svg";
import BusinessWebsite from "../assets/features/business-website.svg";
import AutomatedMarketing from "../assets/features/automated-marketing.svg";
import Education from "../assets/features/education.svg";
import Devops from "../assets/features/devops.svg";
import DashboardDevelopment from "../assets/features/dashboard-development.svg";
import Badge from "@components/ui/badge.astro";
import NetworkServerManagement from "../assets/features/network-server-endpoint-management.svg";
import Link from "@components/ui/link.astro";

import { Icon } from "astro-icon";

const data = [
  {
    "mainHeading": "Bring Your Business Online with Empress",
    "subtext": "Craft a compelling digital footprint that captivates your audience at every touchpoint.",
    "headingButtons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ],
    "sectionHeading": "Empress: Your Digital Launchpad",
    "offering": {
      "title": "Cultivate Your Online Brand",
      "subtext": "Adopt a proactive stance in digital marketing with tools designed to tailor your brand narrative and foster meaningful connections online."
    },
    "valueBlocks": [
      {
        "heading": "Empress OS",
        "title": "Unify Your Digital Strategies",
        "description": "Create a cohesive digital experience by unifying your online marketing initiatives, ensuring consistent messaging and brand presence."
      },
      {
        "heading": "Empress Chat",
        "title": "Personalize Audience Interactions",
        "description": "Deploy AI-driven chat solutions to engage with your audience in real-time, providing an immersive and personalized brand experience."
      },
      {
        "heading": "Empress Insights",
        "title": "Refine Your Digital Tactics",
        "description": "Leverage advanced analytics to fine-tune your digital tactics, turning insights into improved conversion rates and customer retention."
      }
    ],
    "featureBlocks": [
  {
    "heading": "Effortless Online Creation",
    "title": "Launch Your Website Instantly",
    "description": "Discover the new era of website design with Empress's intuitive platform, making the creation, management, and customization of your professional website straightforward and accessible to anyone.",
    "bulletPoints": [
      "Easily build and customize your site to perfection",
      "Showcase your brand's identity with a complimentary domain name",
      "Select from a variety of themes that resonate with your business image"
    ],
    "buttons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ]
  },
  {
    "heading": "Design With Precision",
    "title": "Craft Your Site Like a Pro",
    "description": "Tap into your creative side with Empress’s user-friendly design tools. Adjust layouts, add filters, and bring life to your pages with animations – all with simple, direct on-page actions.",
    "bulletPoints": [
      "Design intuitively with user-friendly tools",
      "Customize visuals to align with your brand",
      "Infuse your site with animation for a lively presence"
    ],
    "buttons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ]
  },
  {
    "heading": "Seamless Business Expansion",
    "title": "Scale Your Online Presence",
    "description": "Empress Website grows with your ambitions, providing an array of features that make business operations smooth and customer experiences richer, all on a single, integrated platform.",
    "bulletPoints": [
      "Easily scale your site as your business evolves",
      "Integrate seamlessly for peak business performance",
      "Unlock a comprehensive feature set without additional cost"
    ],
    "buttons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ]
  }
],

    "featureHeading": "Additional Features",
    "featureTitle": "Do More With Empress",
    "featureAssurance": "Outpace the competition with Empress, designed for the modern business landscape."
  }
];



const features = [
  {
    "title": "Streamline",
    "description": "Optimize Your Workflow",
    "icon": "fluent:flash-24-regular",
    "link": "/feature/streamline"
  },
  {
    "title": "Analyze",
    "description": "Unlock data insights",
    "icon": "fluent:cellular-data-1-24-regular",
    "link": "/feature/analyze"
  },
  {
    "title": "Automate",
    "description": "Automate routine tasks",
    "icon": "fluent:bot-24-regular",
    "link": "/feature/automate"
  },
  {
    "title": "Permissions",
    "description": "Control visibility",
    "icon": "fluent:lock-24-regular",
    "link": "/feature/permission"
  },
  {
    "title": "Chat",
    "description": "Engage users live",
    "icon": "fluent:chat-multiple-24-regular",
    "link": "/feature/chat"
  },
  {
    "title": "Forecast",
    "description": "Anticipate trends",
    "icon": "fluent:weather-sunny-low-24-regular",
    "link": "/feature/forecast"
  },
  {
    "title": "Collaborate",
    "description": "Connect with collaborators",
    "icon": "fluent:people-team-24-regular",
    "link": "/feature/collaborate"
  },
  {
    "title": "Integrate",
    "description": "Seamless tool integration",
    "icon": "fluent:plug-connected-24-regular",
    "link": "/feature/integrate"
  }
];

---



<!-- <div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Business Performance <span class="text-indigo-600">Reimagined</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Elevate your business through unified operations, seamless collaboration, and actionable insights.
  </p>
</div> -->

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">{data[0].featureHeading}</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    {data[0].featureTitle}
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    {data[0].featureAssurance}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-8 md:gap-10">
  {
    features.map((item) => (
      <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <div class="flex flex-col items-center group hover:bg-slate-50 hover:shadow-lg rounded-lg transition-all p-6 text-center shadow-lg bg-white">
          <div class="bg-indigo-50 border shadow-sm border-indigo-100 transition-colors rounded-lg grid place-items-center p-4 mb-5 w-16 h-16 shrink-0">
            <Icon class="text-indigo-500" name={item.icon} size="32" />
          </div>
          <h3 class="font-semibold text-lg text-gray-900">{item.title}</h3>
          <p class="text-slate-500 mt-2 text-base leading-relaxed">{item.description}</p>
        </div>
      </a>
    ))
  }
</div>

<div class="flex justify-center items-center mt-20"> 
  <a href="/features" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150 w-full max-w-xs" style="box-shadow: 0 4px 6px rgba(90, 49, 196, 0.25);"> <!-- Added classes and inline styles to match the look -->
    <span>Explore All Features</span>
    <svg
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
      <path
        fill-rule="evenodd"
        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
</div>

<!-- <div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="purple">
    <Fragment slot="image">
      <Picture
        src={ArtificialIntelligence}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-cover"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Simplify Process</span>
    <span slot="title">Streamline Your Operations</span>
    <span slot="desc">
      Combine real-time monitoring, automation, and advanced analytics to empower your decision-making and operational agility.
    </span>
  </Card>
  <Card class="lg:col-span-2" color="indigo">
    <Fragment slot="image">
      <Picture
        src={BusinessCompetition}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-cover"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">The Ultimate Toolkit</span>
    <span slot="title">Personalization at Scale</span>
    <span slot="desc">
      Craft a tailored approach to customer interactions, enhancing personal touch while ensuring efficiency.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={AutomatedMarketing}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Optimize with AI</span>
    <span slot="title">Harness AI Precision</span>
    <span slot="desc">
      Empress's AI ensures dynamic and personalized interactions.</span
    >
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={DashboardDevelopment}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Universal Tracking</span>
    <span slot="title">Optimize Every Experience </span>
    <span slot="desc">
      Track interactions across platforms with Empress to maximize operations.</span
    >
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <Image
        src={Devops}
        alt="Feature image"
        width="909"
        height="823"
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Webhooks</span>
    <span slot="title">Connect 100+ Integrations</span>
    <span slot="desc">
      Seamlessly integrate with hundreds of tools using webhooks and Zapier.</span
    >
  </Card>
</div> -->
