---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Design Experiences That <span class="text-indigo-600">Grow your Business</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Blend cutting-edge technology with user insights. With Empress, lead your industry by crafting superior experiences.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="purple">
    <Fragment slot="image">
      <Picture
        src={FeatureImgOne}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Simplify Insights</span>
    <span slot="title">Capture Every Touchpoint</span>
    <span slot="desc">
      Empress helps you capture every touchpoint, from initial contact to lasting impression, for a comprehensive understanding of your users.
    </span>
  </Card>
  <Card class="lg:col-span-2" color="indigo">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">The Ultimate Toolkit</span>
    <span slot="title">Supercharge Your Performance</span>
    <span slot="desc">
      Equip yourself with extensive design tools, real-time monitoring, and automation features.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgThree}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Optimize with AI</span>
    <span slot="title">Harness AI Precision</span>
    <span slot="desc">
      Empress's AI ensures dynamic and personalized interactions.</span
    >
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={FeatureImgTwo}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Universal Tracking</span>
    <span slot="title">Optimize Every Experience </span>
    <span slot="desc">
      Track interactions across platforms with Empress to maximize operations.</span
    >
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={IntegrationImg}
        alt="Feature image"
        width="909"
        height="823"
        class="h-full w-full object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Webhooks</span>
    <span slot="title">Connect 100+ Integrations</span>
    <span slot="desc">
      Seamlessly integrate with hundreds of tools using webhooks and Zapier.</span
    >
  </Card>
</div>
