---
// @ts-ignore
import { Picture, Image } from "astro:assets";
import Card from "@components/card.astro";
import IntegrationImg from "../assets/integrations.svg?url";
import FeatureImgOne from "../assets/features/2.png";
import FeatureImgTwo from "../assets/features/2.png";
import FeatureImgThree from "../assets/features/3.png";
import ModernCity from "../assets/features/modern-city.svg";
import BusinessAnalyst from "../assets/features/business-analyst.svg";
import BusinessCompetition from "../assets/features/business-competition.svg";
import ArtificialIntelligence from "../assets/features/artificial-intelligence.svg";
import BusinessWebsite from "../assets/features/business-website.svg";
import AutomatedMarketing from "../assets/features/automated-marketing.svg";
import Education from "../assets/features/education.svg";
import Devops from "../assets/features/devops.svg";
import DashboardDevelopment from "../assets/features/dashboard-development.svg";



---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Business Performance <span class="text-indigo-600">Reimagined</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Elevate your business through unified operations, seamless collaboration, and actionable insights.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" color="purple">
    <Fragment slot="image">
      <Picture
        src={ArtificialIntelligence}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-cover"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Simplify Process</span>
    <span slot="title">Elevate Your Operations</span>
    <span slot="desc">
      Combine real-time monitoring, automation, and advanced analytics to empower your decision-making and operational agility.
    </span>
  </Card>
  <Card class="lg:col-span-2" color="indigo">
    <Fragment slot="image">
      <Picture
        src={BusinessCompetition}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-cover"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">The Ultimate Toolkit</span>
    <span slot="title">Personalization at Scale</span>
    <span slot="desc">
      Craft a tailored approach to customer interactions, enhancing personal touch while ensuring efficiency.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
  <Card color="indigo" size="sm">
    <Fragment slot="image">
      <Picture
        src={AutomatedMarketing}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Optimize with AI</span>
    <span slot="title">Harness AI Precision</span>
    <span slot="desc">
      Empress's AI ensures dynamic and personalized interactions.</span
    >
  </Card>

  <Card color="purple" size="sm">
    <Fragment slot="image">
      <Picture
        src={DashboardDevelopment}
        alt="Feature image"
        formats={["avif", "webp"]}
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Universal Tracking</span>
    <span slot="title">Optimize Every Experience </span>
    <span slot="desc">
      Track interactions across platforms with Empress to maximize operations.</span
    >
  </Card>

  <Card size="sm">
    <Fragment slot="image">
      <!-- // svg image. cannot use <picture/> as of now -->
      <Image
        src={Devops}
        alt="Feature image"
        width="909"
        height="823"
        class="object-contain"
        loading="lazy"
      />
    </Fragment>
    <span slot="badge">Webhooks</span>
    <span slot="title">Connect 100+ Integrations</span>
    <span slot="desc">
      Seamlessly integrate with hundreds of tools using webhooks and Zapier.</span
    >
  </Card>
</div>
