---
import Container from "@components/container.astro";
import { Icon } from "astro-icon";

const footerLinks = {
  products: [
    {
      title: "Product Overview",
      path: "/product"
    },
    {
      title: "All Features",
      path: "/features"
    },
    {
      title: "App Integrations",
      path: "/integrations"
    },
    {
      title: "Empress OS",
      path: "/os"
    },
    {
      title: "Empress Chat",
      path: "/chat"
    },
    {
      title: "Empress Insights",
      path: "/insights"
    }
  ],
  useCases: [
    { title: "Enterprise", path: "/enterprise" },
    { title: "Startups", path: "/startups" },
    { title: "Agencies", path: "/agencies" },
    { title: "Influencers", path: "/influencers" },
    { title: "Non-Profits", path: "/non-profits" }
  ],
  industries: [
    { title: "E-Commerce", path: "/e-commerce" },
    { title: "Financial Services", path: "/financial-services" },
    { title: "Technology", path: "/technology" },
    { title: "Healthcare", path: "/healthcare" },
    { title: "Education", path: "/education" }
  ],
  resources: [
    { title: "Empress Blog", path: "/blog", desc: "Empress news and stories" },
    { title: "Empress Guides", path: "/guides", desc: "Tips & tricks from Empress" },
    { title: "Empress Academy", path: "/academy", desc: "Learn all about Empress" }
  ],
  connect: [
    { title: "Find Support", path: "https://support.empress.eco/en", desc: "Contact our support team" },
    { title: "Join the Community", path: "#", desc: "Join the #PurpleWorld" },
    { title: "Become a Partner", path: "#", desc: "Explore our partner programs" }
  ]
};
---

<footer class="py-14 bg-slate-100 border-t border-slate-100 mt-10">
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <!-- Logo and Social Links -->
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="/" class="text-lg flex items-center">
          <span class="font-bold text-indigo-600">empress</span><span class="text-slate-600">.eco</span>
          <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-gray-200 text-slate-700 px-2 py-1 rounded-md">BETA</span>
        </a>
        <p class="mt-4 text-sm text-slate-700 max-w-xs">Engage with Empress and elevate your experience.</p>
        <div class="flex gap-3 mt-4 items-center">
          <!-- Add your social links here -->
        </div>
      </div>

      <!-- Links -->
      <div>
        <h3 class="font-medium text-sm text-slate-800">Products</h3>
        <div class="flex flex-col mt-3">
          {
            footerLinks.products.map((link) => (
              <a href={link.path} class="py-2 text-sm text-slate-600 hover:text-indigo-600">{link.title}</a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Use Cases</h3>
        <div class="flex flex-col mt-3">
          {
            footerLinks.useCases.map((link) => (
              <a href={link.path} class="py-2 text-sm text-slate-600 hover:text-indigo-600">{link.title}</a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Industries</h3>
        <div class="flex flex-col mt-3">
          {
            footerLinks.industries.map((link) => (
              <a href={link.path} class="py-2 text-sm text-slate-600 hover:text-indigo-600">{link.title}</a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Resources</h3>
        <div class="flex flex-col mt-3">
          {
            footerLinks.resources.map((link) => (
              <a href={link.path} class="py-2 text-sm text-slate-600 hover:text-indigo-600">{link.title}</a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Connect</h3>
        <div class="flex flex-col mt-3">
          {
            footerLinks.connect.map((link) => (
              <a href={link.path} class="py-2 text-sm text-slate-600 hover:text-indigo-600">{link.title}</a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600">
        Copyright © {new Date().getFullYear()} Empress. All rights reserved.
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href="/terms" class="hover:text-indigo-500"> Terms</a> ・ <a href="/privacy" class="hover:text-indigo-500">Privacy</a>
      </p>
    </Container>
  </div>
</footer>
