---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../assets/hero-screenshot.png";
import IntegrationImg from "../../assets/integrations.svg?url";
import FeatureImgOne from "../../assets/features/2.png";
import FeatureImgTwo from "../../assets/features/2.png";
import FeatureImgThree from "../../assets/features/3.png";
import FeatureImg1 from "../../assets/features/6.png";
import FeatureImg2 from "../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../assets/employee.jpg";
import TargetMarketing from "../../assets/features/targeting-audience-for-marketing.svg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import AutomatedMarketing from "../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../assets/features/dashboard-development.png";

const { nomargin } = Astro.props;

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const Marketing = [
{
    "title": "Campaign",
    "description": "Optimize Campaign Execution",
    "icon": "ph:rocket-duotone",
    "link": "/app/marketing/campaign",
    "color": "indigo"
  },
  {
    "title": "Content",
    "description": "Manage Content Effectively",
    "icon": "ph:file-video-duotone",
    "link": "/app/marketing/content",
    "color": "indigo"
  },
  {
    "title": "Social",
    "description": "Enhance Social Presence",
    "icon": "ph:share-network-duotone",
    "link": "/app/marketing/social",
    "color": "indigo"
  },
  {
    "title": "Events",
    "description": "Organize Events Efficiently",
    "icon": "ph:calendar-plus-duotone",
    "link": "/app/marketing/events",
    "color": "indigo"
  },
  {
    "title": "Email",
    "description": "Streamline Email Campaigns",
    "icon": "ph:telegram-logo-duotone",
    "link": "/app/marketing/email",
    "color": "indigo"
  },
  {
    "title": "Surveys",
    "description": "Collect Customer Feedback",
    "icon": "ph:user-list-duotone",
    "link": "/app/marketing/surveys",
    "color": "indigo"
  }
];

const data = [
  {
    "mainHeading": "Amplify Your Reach",
    "subtext": "Boost your marketing game with data-driven strategies and seamless communication.",
    "headingButtons": [
      {
        "text": "Get Started",
        "link": "/contact"
      },
      {
        "text": "View Pricing",
        "link": "/pricing"
      }
    ],
    "sectionHeading": "Empower Your Marketing",
    "offering": {
      "title": "Craft Unforgettable Campaigns",
      "subtext": "Harness the combined power of analytics and communication to deliver marketing that captivates and converts."
    },
    "valueBlocks": [
      {
        "heading": "Unified Marketing Platform",
        "title": "Unify Your Marketing Landscape",
        "description": "Bring all your marketing initiatives under one roof for streamlined execution and unparalleled synergy."
      },
      {
        "heading": "Engage and Convert",
        "title": "Personalize Audience Interactions",
        "description": "Engage your audience with tailored communication that turns prospects into loyal customers."
      },
      {
        "heading": "Actionable Insights",
        "title": "Drive Informed Marketing",
        "description": "Leverage analytics to fine-tune your strategies and capture your market effectively."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Seamless Campaign Management",
        "title": "Streamline Marketing Operations",
        "description": "Facilitate a seamless flow from planning to execution, ensuring every campaign hits its mark.",
        "bulletPoints": [
          "Centralized asset management",
          "Collaborative real-time editing",
          "Efficient automated workflows"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "Dynamic Audience Engagement",
        "title": "Transform Communication",
        "description": "Adopt a dynamic approach to customer conversations that adapts to their needs and preferences.",
        "bulletPoints": [
          "Real-time feedback loops",
          "AI-enhanced messaging",
          "Agile team coordination"
        ],
        "buttons": [
          {
            "text": "Get Started",
            "link": "/contact"
          },
          {
            "text": "View Pricing",
            "link": "/pricing"
          }
        ]
      },
      {
        "heading": "In-Depth Marketing Analytics",
        "title": "Cultivate Marketing Excellence",
        "description": "Access a wealth of data insights that empower you to anticipate market trends and outmaneuver competitors.",
        "bulletPoints": [
          "Behavioral campaign analysis",
          "Real-time performance updates",
          "Market trend anticipation"
        ],
        "buttons": [
          {
            "text": "Gain Insights",
            "link": "/contact"
          },
          {
            "text": "Pricing Details",
            "link": "/pricing"
          }
        ]
      },
    ],
    "getStartedSection": {
      "badge": "Additional Features",
      "title": "Start Marketing with Empress",
      "description": "Launch your marketing campaigns with the perfect set of tools at your fingertips."
    },
    "featureHeading": "Empress for Marketing",
    "featureTitle": "Elevate Your Marketing Game",
    "featureAssurance": "Achieve marketing mastery with Empress—your partner in digital marketing excellence."
  }
];


const features = [
  {
    "title": "Streamline",
    "description": "Optimize marketing workflows",
    "icon": "fluent:flash-24-regular",
    "link": "/features/streamline"
  },
  {
    "title": "Analyze",
    "description": "Deep-dive into marketing analytics",
    "icon": "fluent:cellular-data-1-24-regular",
    "link": "/features/analyze"
  },
  {
    "title": "Automate",
    "description": "Automate marketing tasks",
    "icon": "fluent:bot-24-regular",
    "link": "/features/automate"
  },
  {
    "title": "Permission",
    "description": "Manage team permissions",
    "icon": "fluent:lock-24-regular",
    "link": "/features/permission"
  },
  {
    "title": "Chat",
    "description": "Engage with audiences",
    "icon": "fluent:chat-multiple-24-regular",
    "link": "/features/chat"
  },
  {
    "title": "Forecast",
    "description": "Predict market trends",
    "icon": "fluent:weather-sunny-low-24-regular",
    "link": "/features/forecast"
  },
  {
    "title": "Collaborate",
    "description": "Coordinate marketing efforts",
    "icon": "fluent:people-team-24-regular",
    "link": "/features/collaborate"
  },
  {
    "title": "Integrate",
    "description": "Sync your platforms",
    "icon": "fluent:plug-connected-24-regular",
    "link": "/features/integrate"
  }
];


const features_2 = [
  {
    "title": "Automate with Precision",
    "description": "Effortlessly integrate with 200+ platforms, offering versatile marketing solutions that adapt to ever-evolving strategies.",
    "icon": "fluent:flash-settings-24-regular"
  },
  {
    "title": "Optimize Your Strategy",
    "description": "Redefine your strategy with our tailored solutions, delivering unparalleled marketing insights and guidance.",
    "icon": "fluent:arrow-routing-24-regular"
  },
  {
    "title": "Brand Consistency Across Channels",
    "description": "Ensure a cohesive brand voice throughout your campaigns, enhancing recall and fortifying brand identity.",
    "icon": "fluent:mobile-optimized-24-regular"
  },
  {
    "title": "Tools for Marketing Excellence",
    "description": "Unlock tools and insights that drive campaigns to unmatched success, making every marketing effort count.",
    "icon": "fluent:window-dev-tools-24-regular"
  },
  {
    "title": "Decisions Powered by Insights",
    "description": "Empower your marketing strategies with data-driven decisions, ensuring unparalleled efficiency and impactful ROI.",
    "icon": "fluent:cellular-data-1-24-regular"
  },
  {
    "title": "Get AI Driven Support",
    "description": "Combine AI, real-time analytics, and Empress insights to consistently raise your marketing standards and outcomes.",
    "icon": "fluent:bot-24-regular"
  }
];

const faq = [
  {
    question: "How can Empress OS enhance my marketing campaign management?",
    answer: "Empress OS enhances marketing campaigns by centralizing marketing assets on a unified platform, facilitating real-time collaboration among teams, and automating workflows for consistent brand messaging."
  },
  {
    question: "What role does AI play in Empress Chat for audience engagement?",
    answer: "Empress Chat uses AI to provide on-demand, personalized communication, ensuring that audience engagement is tailored and responsive, leading to a more modernized and efficient engagement strategy."
  },
  {
    question: "Can Empress Insights help increase my conversion rates?",
    answer: "Yes, Empress Insights dives into granular analytics and provides dashboards that help understand audience behavior and preferences, enabling real-time optimization of campaigns to boost conversion rates."
  },
  {
    question: "What integrations are available with Empress for marketing?",
    answer: "Empress offers seamless integrations with over 200 platforms, providing versatile marketing solutions that can adapt to evolving strategies and ensuring brand consistency across channels."
  },
  {
    question: "How does Empress ensure brand consistency across all marketing channels?",
    answer: "Empress centralizes business management and automates marketing workflows, which helps in maintaining a cohesive brand voice and ensuring consistency across all marketing channels."
  },
  {
    question: "How do Empress tools contribute to marketing excellence?",
    answer: "Empress provides tools that unlock insights and analytics, driving campaigns to success by making every marketing effort data-driven, strategic, and efficient."
  },
  {
    question: "What support does Empress provide for data-driven marketing decisions?",
    answer: "Empress supports data-driven marketing strategies with advanced analytics and real-time insights, allowing marketers to make informed decisions that lead to impactful ROI."
  }
];



const featureBlocks = data[0].featureBlocks;

---

<Layout title="Build" footerMargin={false}>
  <div class="overflow-x-clip mt-20">
  </Sectionhead>

  <Container>
    <div>
      <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center ">
        <Badge color="purple">{data[0].featureHeading}</Badge>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
          {data[0].mainHeading}
        </h2>
        <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
          {data[0].subtext}
        </p>
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          Marketing.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div> 
      
    </div>

  </Container>

  <Container>

  

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>          
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../job-announcement.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../../../global-market-2.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-10">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                    <span>{button.text}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                );
              } else {
                return (
                  <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                    {button.text}
                  </a>
                );
              }
            })}
          </div> 
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-10">
          {data[0].featureBlocks[0].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
                  <span>{button.text}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              );
            } else {
              return (
                <a href={button.link} class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md bg-white text-slate-600 hover:text-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 shadow-md transition ease-in-out duration-150">
                  {button.text}
                </a>
              );
            }
          })}
        </div> 
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../data-analysis-2.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

  </Container>

  <Container>

    <div
    class:list={[
      "max-w-4xl mx-auto flex flex-col items-center justify-center",
      !nomargin && "mt-24",
    ]}>
    <Badge color="purple">{data[0].getStartedSection.badge}</Badge>
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
      {data[0].getStartedSection.title}
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
      {data[0].getStartedSection.description}
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-8 md:gap-10">
    {
      features.map((item) => (
        <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <div class="flex flex-col items-center group hover:bg-slate-50 hover:shadow-lg rounded-lg transition-all p-6 text-center shadow-lg bg-white">
            <div class="bg-indigo-50 border shadow-sm border-indigo-100 transition-colors rounded-lg grid place-items-center p-4 mb-5 w-16 h-16 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="32" />
            </div>
            <h3 class="font-semibold text-lg text-gray-900">{item.title}</h3>
            <p class="text-slate-500 mt-2 text-base leading-relaxed">{item.description}</p>
          </div>
        </a>
      ))
    }
  </div>


  <div class="flex justify-center items-center mt-20"> 
    <a href="/features" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150 w-full max-w-xs" style="box-shadow: 0 4px 6px rgba(90, 49, 196, 0.25);"> <!-- Added classes and inline styles to match the look -->
      <span>Explore All Features</span>
      <svg
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>

</Container>


  
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

