---

import { getCollection } from "astro:content";
import Badge from "@components/ui/badge.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import Card from "@components/card.astro";

import { Icon } from "astro-icon";
import ArrowIcon from "@components/ui/icons/arrow.astro"

import Logos from "@components/logos.astro";
import heroImage from "../../../assets/hero-screenshot.png";
import IntegrationImg from "../../../assets/integrations.svg?url";
import FeatureImgOne from "../../../assets/features/2.png";
import FeatureImgTwo from "../../../assets/features/2.png";
import FeatureImgThree from "../../../assets/features/3.png";
import FeatureImg1 from "../../../assets/features/6.png";
import FeatureImg2 from "../../../assets/features/2.png";
import { Picture, Image } from "astro:assets";
import EmployeeImg from "../../../assets/employee.jpg";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ECommerce from "../../../assets/features/buyer-standing-in-front-of-giant-smartphone-and-buying-goods-on-internet-store.svg";
import AutomatedMarketing from "../../../assets/features/automated-marketing.svg";
import NetworkServerManagement from "../../../assets/features/network-server-endpoint-management.svg";
import DashboardDevelopment from "../../../assets/features/dashboard-development.png";


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const { nomargin } = Astro.props;

const templates = [
  {
    "title": "Marketing Workflow Automation",
    "description": "Streamline Marketing Tasks",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/marketing-workflow-automation"
  },
  {
    "title": "Lead Nurturing Automation",
    "description": "Nurture Leads Automatically",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/lead-nurturing-automation"
  },
  {
    "title": "Campaign Analytics Dashboard",
    "description": "Analyze Marketing Campaigns",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/campaign-analytics-dashboard"
  },
  {
    "title": "Personalization Engine",
    "description": "Create Customized Content",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/personalization-engine"
  },
  {
    "title": "Data Integration Solutions",
    "description": "Integrate Marketing Data",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/data-integration-solutions"
  },
  {
    "title": "A/B Testing Tools",
    "description": "Optimize Campaigns with Testing",
    "icon": "fluent:chat-24-regular",
    "link": "/templates/ab-testing-tools"
  }
];

const data = [
  {
    "mainHeading": "Create Engaging Content",
    "subtext": "Elevate your operational efficiency with bespoke automation designed to streamline your business processes.",
    "headingButtons": [
      {
        "text": "Start Automating",
        "link": "/contact-automation"
      },
      {
        "text": "Automation Pricing",
        "link": "/pricing-automation"
      }
    ],
    "sectionHeading": "Operational Excellence through Automation",
    "offering": {
      "title": "Revolutionize Your Workflow",
      "subtext": "Empower your team with tools that automate tasks, simplify workflows, and maximize productivity."
    },
    "valueBlocks": [
      {
        "heading": "Workflow Automation",
        "title": "Simplify Complex Processes",
        "description": "Our platform enables the creation of custom automation that tackles complex tasks effortlessly, reducing manual input and increasing accuracy."
      },
      {
        "heading": "Smart Interactions",
        "title": "Enhanced Customer Interaction",
        "description": "Automated systems interact with customers, providing quick responses and seamless support, driving engagement and satisfaction."
      },
      {
        "heading": "Insightful Analytics",
        "title": "Intelligent Data Utilization",
        "description": "Automatically aggregate and analyze data to uncover insights, enhance decision-making, and predict future trends."
      }
    ],
    "featureBlocks": [
      {
        "heading": "Task Automation",
        "title": "Effortless Task Management",
        "description": "From scheduling to billing, automate repetitive tasks and focus on what really matters - growing your business.",
        "bulletPoints": [
          "Customizable task automation",
          "Improved process efficiency",
          "Error reduction and time savings"
        ],
        "buttons": [
          {
            "text": "Automate Tasks",
            "link": "/contact-tasks"
          },
          {
            "text": "Task Automation Pricing",
            "link": "/pricing-tasks"
          }
        ]
      },
      {
        "heading": "Intelligent Automation",
        "title": "Smart Solutions for Every Need",
        "description": "Utilize AI-driven automation to streamline your operations, from customer queries to inventory management.",
        "bulletPoints": [
          "Adaptive AI technologies",
          "Proactive operational management",
          "Strategic resource deployment"
        ],
        "buttons": [
          {
            "text": "Implement AI",
            "link": "/contact-ai"
          },
          {
            "text": "AI Solutions Pricing",
            "link": "/pricing-ai"
          }
        ]
      },
      {
        "heading": "Proactive Analytics",
        "title": "Automate for the Future",
        "description": "Use advanced analytics to not just understand the current state of your business, but to also predict and prepare for future challenges.",
        "bulletPoints": [
          "Predictive analytics for trend spotting",
          "Automated reporting for continuous insights",
          "Data-driven strategy formulation"
        ],
        "buttons": [
          {
            "text": "Explore Analytics",
            "link": "/contact-analytics"
          },
          {
            "text": "Analytics Pricing",
            "link": "/pricing-analytics"
          }
        ]
      }
    ],
    "featureHeading": "Tailored Automation",
    "featureTitle": "Craft Your Automated Business Landscape",
    "featureAssurance": "Our automation tools are designed with flexibility in mind, to provide tailored solutions that align with your specific business needs and challenges."
  }
];


const features = [
  {
    "title": "Real-time Process Optimization",
    "description": "Instantly identify bottlenecks and optimize your workflows in real-time with dynamic automation that adapts to your operational needs.",
    "icon": "fluent:arrow-trending-lines-24-regular",
  },
  {
    "title": "Automated Customer Journeys",
    "description": "Create seamless customer journeys with automation that guides your customers from discovery to purchase, boosting conversion rates.",
    "icon": "fluent:people-swap-24-regular",
  },
  {
    "title": "Dynamic Resource Allocation",
    "description": "Maximize efficiency with automated resource allocation, ensuring optimal use of your assets and personnel.",
    "icon": "fluent:clipboard-task-list-ltr-24-regular",
  },
  {
    "title": "Precision Scheduling",
    "description": "Automate your scheduling to ensure that meetings, deliveries, and services are organized efficiently without conflicts or overlap.",
    "icon": "fluent:calendar-ltr-24-regular",
  },
  {
    "title": "Seamless Data Integration",
    "description": "Automate the consolidation of data across platforms, providing a unified view of your business for better decision-making.",
    "icon": "fluent:data-trending-24-regular",
  },
  {
    "title": "Intelligent Automation",
    "description": "Incorporate AI that learns from your processes, predicting outcomes and making intelligent decisions to improve efficiency over time.",
    "icon": "fluent:brain-circuit-24-regular",
  }
];

const faq = [
  {
    question: "How does automation enhance operational efficiency?",
    answer: "Automation streamlines business processes by reducing manual efforts, minimizing errors, and speeding up task completion, which leads to enhanced operational efficiency and productivity."
  },
  {
    question: "Can the automation be customized to fit my specific business needs?",
    answer: "Yes, our automation solutions are designed to be flexible and can be tailored to meet the unique requirements and challenges of your business, ensuring a perfect fit for your operational model."
  },
  {
    question: "Will implementing automation disrupt my current workflow?",
    answer: "Our approach to implementing automation is designed to be as smooth as possible, with minimal disruption. We focus on integrating with your current workflow and enhancing it without major interruptions."
  },
  {
    question: "How secure is automated data handling on your platform?",
    answer: "Data security is paramount on our platform. We use advanced encryption and security protocols to ensure that all data handled by our automation tools is secure and compliant with relevant regulations."
  },
  {
    question: "What kind of support can I expect after automating my processes?",
    answer: "We provide continuous support post-automation with regular check-ins, updates, and dedicated assistance to ensure that the automated systems are functioning optimally and evolving with your business."
  },
  {
    question: "How can I measure the impact of automation on my business?",
    answer: "Our platform includes analytics and reporting tools that allow you to track key performance indicators (KPIs) and measure the impact of automation on your business in real-time, giving you clear insights into your ROI."
  },
  {
    question: "Can automation help me understand and predict customer behavior?",
    answer: "Absolutely, by utilizing data analytics and predictive modeling, our automation tools can help you gain insights into customer behaviors, forecast trends, and make informed decisions to stay ahead of the market."
  }
];


const featureBlocks = data[0].featureBlocks;

---

<Layout title="About" footerMargin={false}>
  <div class="overflow-x-clip">
    <Container>
      <main class="grid lg:grid-cols-5 place-items-center relative">
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
        </div>
        <div
          class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
        </div>
        <div class="max-w-sm md:max-w-max lg:col-span-2">
          <h1
            class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
            {data[0].mainHeading}
          </h1>
          <p
            class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
            {data[0].subtext}
          </p>
          <div
            class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
              href={data[0].headingButtons[0].link}
              class="flex gap-1 items-center justify-center bg-brand"
              rel="noopener">
              {data[0].headingButtons[0].text}
          </Link>
          
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href={data[0].headingButtons[1].link}
            class="flex gap-1 items-center justify-center border-brand text-brand">
            {data[0].headingButtons[1].text}
          </Link>
          </div>
        </div>
        <div class="py-3 lg:col-span-3 lg:-mr-44">
          <Picture
            src={ECommerce}
            alt="Astronaut in the air"
            formats={["avif", "webp"]}
            sizes="(max-width: 1024px) 100vw, 50vw"
            widths={[240, 540, 720, heroImage.width]}
            loading="eager"
            fetchpriority="high"
          />
        </div>
      </main>
    </Container>
  </div>
  

  <Container>
  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].sectionHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].offering.title}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].offering.subtext}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        templates.map((item) => (
          <a href={item.link} class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <div class="flex flex-col gap-4 items-center group hover:bg-slate-50 hover:shadow-md rounded-lg transition-all md:-m-5 p-5 text-center shadow">
              <div class="bg-indigo-50 border shadow border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
                <Icon class="text-indigo-500" name={item.icon} size="24" />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-10">
      <Card color="indigo" size="sm">
        <Fragment slot="image">
          <Picture
            src={NetworkServerManagement}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[0].heading}</span>
        <span slot="title">{data[0].valueBlocks[0].title}</span>
        <span slot="desc">{data[0].valueBlocks[0].description}</span>
      </Card>
      
      <Card color="purple" size="sm">
        <Fragment slot="image">
          <Picture
            src={AutomatedMarketing}
            alt="Feature image"
            formats={["avif", "webp"]}
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[1].heading}</span>
        <span slot="title">{data[0].valueBlocks[1].title}</span>
        <span slot="desc">{data[0].valueBlocks[1].description}</span>
      </Card>
      
      <Card size="sm">
        <Fragment slot="image">
          <Image
            src={DashboardDevelopment}
            alt="Feature image"
            width="909"
            height="823"
            class="object-contain"
            loading="lazy"
          />
        </Fragment>
        <span slot="badge">{data[0].valueBlocks[2].heading}</span>
        <span slot="title">{data[0].valueBlocks[2].title}</span>
        <span slot="desc">{data[0].valueBlocks[2].description}</span>
      </Card>
    </div> -->

    <!-- Feature 1 -->

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[0].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[0].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[0].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[0].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[0].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
  
      <div class="container">
        <LottieAnimation id="lottie" src="../../../../../../business-technology.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="grid md:grid-cols-2 py-10">
      <div class="">
        <LottieAnimation id="lottie" src="../../../../../../auto-chat.json" autoplay="true" style="width: 100%; height: auto;"/>
      </div>

      <div class="grid place-items-center">
        <div class="max-w-lg">
          <Badge color="purple" class="-ml-px">{data[0].featureBlocks[1].heading}</Badge>
          <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
            {data[0].featureBlocks[1].title}
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            {data[0].featureBlocks[1].description}
          </p>
          <ul class="grid mt-6 text-left gap-y-4">
            {data[0].featureBlocks[1].bulletPoints.map((point) => (
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-sm">{point}</span>
              </li>
            ))}
          </ul>
          <div class="flex items-center gap-4 mt-6">
            {data[0].featureBlocks[1].buttons?.map((button, index) => {
              if (index === 0) {
                return (
                  <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                    <span>{button.text}</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </Link>
                );
              } else {
                return (
                  <a 
                    href={button.link} 
                    class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    {button.text}
                  </a>
                );
              }
            })}
          </div>
        </div>
      </div>
    </div>

  <!-- Feature 3 -->

  <div class="grid md:grid-cols-2 py-10">

    <div class="grid place-items-center">
      <div class="max-w-lg">
        <Badge color="purple" class="-ml-px">{data[0].featureBlocks[2].heading}</Badge>
        <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
          {data[0].featureBlocks[2].title}
        </h3>
        <p class="mt-4 text-slate-600 [text-wrap:balance]">
          {data[0].featureBlocks[2].description}
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          {data[0].featureBlocks[2].bulletPoints.map((point) => (
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              <span class="text-sm">{point}</span>
            </li>
          ))}
        </ul>
        <div class="flex items-center gap-4 mt-6">
          {data[0].featureBlocks[2].buttons?.map((button, index) => {
            if (index === 0) {
              return (
                <Link href={button.link} size="sm" class="inline-flex items-center group gap-px">
                  <span>{button.text}</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </Link>
              );
            } else {
              return (
                <a 
                  href={button.link} 
                  class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                  {button.text}
                </a>
              );
            }
          })}
        </div>
      </div>
    </div>
    <div class="">
      <LottieAnimation id="lottie" src="../../../../../../pie-chart-bar.json" autoplay="true" style="width: 100%; height: auto;"/>
    </div>
  </div>

    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
      <Badge color="purple">{data[0].featureHeading}</Badge>
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
        {data[0].featureTitle}
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
        {data[0].featureAssurance}
      </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
      {
        features.map((item) => (
          <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
            <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-indigo-500" name={item.icon} size="24" />
            </div>
            <div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  
    <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center"></div>

  </Container>

  <Container>
    <Sectionhead>
      <Fragment slot="title">FAQ</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment>
    </Sectionhead>
  
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      {faq.map(item => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))}
    </div>
  </Container>
  

  <Cta />
</Layout>

